.link-black {
    color: #000;
}

.width-600 {
    width: 600px
}

.in-bl {
    display: inline-block;
    vertical-align: top
}

.user_name {
    float: left;
}

.clear {
    clear: both;
}

.submitButton_user {
    width: 100%;
    text-align: center;
}

input[type="text"], select {
    background-color: transparent;
    color: black;
}

select {
    min-width: 137px;
}

td .deleteIcon {
    cursor : pointer;
    clear: both;
}

td .deleteIcon img{
    width: 12px;
    height: 12px;
}

legend {
    font-size: 15px;
}

.deleteIcon {
    /*background-image: url("delete.png");*/
    float: right;
}

.delIcon {
    background-image: url("images/admin/delS.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

#tree {
    /*text-align: center;*/
    width: 100%;
    position: relative;
}

#tree li {
    /*height: 30px;*/
    width: 50%;
    /*border: wheat 1px dotted;*/
    margin-bottom: 2px;
}

#tree li ul li {
    width: 100%;
}

span.fancytree-node {
    width: 50%;
    position: relative !important;
}

#tree li ul {
    margin-top: 8px !important;
}

.fancytree-title {
    display: inline-block !important;
}

.fancytree-container {
    overflow: visible!important;
}

span.fancytree-node {
    display: table!important;
}

.btnCat {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.preload {
    width: 100%;
    height: 100%;
    margin-left: 220px;
    background-color: #0044cc;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.preloadImage {
    background-image: url("images/admin/preload.gif");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: -220px;
    bottom: 0;
    right: 0;
}

.ui-widget-overlay {
    background: #717880 !important;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

fieldset {
    position: relative;
}

#editModal {
    display: none;
}

.ui-dialog input {
    height: auto !important;
    border: 2px solid lightpink !important;
}

.btnCat img {
    /*display: table-cell!important;*/
    vertical-align: middle!important;
    margin-left: 15px!important;
    cursor: pointer;
    width: 16px !important;
    height: 16px !important;
}

.btnCat img.view {
    height: 9px!important;
}

.producerList {
    position: relative;
    width: 50%;
    margin-bottom: 2px;
    font-size: 20px;
}

.good {
    width: 1110px;
    position: relative;
    height: auto;
    overflow: visible;
    margin-top: 10px;
    margin-bottom: 10px;
}

.goodInfo {
    width: 100% !important;
    display: block !important;
}

.showErr {
    position: absolute !important;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #B6E6FB;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #000;
    border-radius: 10px;
    z-index: 10000;
}

.errors {
    display: none !important;
}

.goodInfo div {
    display: inline-table;
    margin-right: 8px;
}

.relPos {
    position: relative;
    margin-left: 10px;
}

.photoInfo {
    width: 1110px !important;
    display: block !important;
    position: relative;
    background-color: #F3F4F5!important;
    margin-bottom: 41px;
    padding-bottom: 10px;
}

.photoInfo .photo {
    float: left;
    margin-right: 20px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.photoAddInfo {
    width: 50%;
    top: 0px;
    left: 310px;
    float: left;
    display: block;
}

.photoAddInfo div {
    position: relative;
}

div[id="deleteSize"] {
    position: absolute;
    right: 0px;
    top: 0px;
}

input, textarea, select, option {
    margin-top: 3px !important;
    /*border: 2px dotted lightblue;*/
    /*border-radius: 15px;*/
    outline: 0px;
}

input:focus, textarea:focus, select:focus {
    margin-top: 3px !important;
    /*border: 2px dotted #000000;*/
    /*border-radius: 15px;*/
    outline: 0px;
}

.redBorder {
    border: 4px dotted #970b0e!important;
}

.redBorder:focus {
    border: 2px dotted #843534!important;
}

textarea {
    width: 500px;
    height: 50px;
    margin-top: 3px !important;
    /*border: 2px dotted lightblue;*/
    outline: 0px;
    border-radius: 15px;
}

textarea:focus {
    /*width: 500px;*/
    height: 50px;
    margin-top: 3px !important;
    /*border: 2px dotted black;*/
    outline: 0px;
    border-radius: 15px;
}

.btn {
    /*border-radius: 15px !important;*/
}

.btn-primary {
    color: #fff!important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
    background-color: #006dcc!important;
    background-image: -moz-linear-gradient(top, #08c, #04c)!important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c))!important;
    background-image: -webkit-linear-gradient(top, #08c, #04c)!important;
    background-image: -o-linear-gradient(top, #08c, #04c)!important;
    background-image: linear-gradient(to bottom, #08c, #04c)!important;
    background-repeat: repeat-x;
    border-color: #04c #04c #002a80!important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
}

.colorChoose {
    width: 24px;
    height: 24px;
}

.colorChoose {
    display: inline-block;
}

.w100 {
    width: 50%;
}

.rowClear {
    width: 38px;
    height: 100%;
    display: inline-block;
}

.labelProd {
    position: absolute;
    top: 0px;
    left: 0px;
}

.notBorder {
    font-weight: bolder;
    font-size: 18px;
    border: none;
    margin-bottom: 10px;
}

.addColor {
    background-image: url("images/admin/add.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    float: right;
    position: relative;
    top: 4px;
}

fieldset {
    margin-top: 10px;
}

legend {
    font-size: 19px;
    font-weight: 600;
}

.deletePhoto {
    float: right;
    width: 22px;
    height: 22px;
    z-index: 100;
    background-image: url("images/admin/close2.png");
    cursor: pointer;
}

.relPos textarea {
    width: 341px;
    height: 351px!important;
}

.photoAddInfo fieldset, .photoAddInfo fieldset .nextColor {
    float: left;
    display: inline-table;
    margin-left: 2px;
}

.knob {
    top: 20%;
}

.images{
    margin-top: 20px;
}

.images .nextImage {
    float: left;
    margin-left: 5px;
    position: relative;
}

.deleteImageSlider {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    width: 60px;
    height: 21px;
    cursor: pointer;
    font-weight: bolder;
    opacity: 0.5;
    color: white;
    background-color: #000000;
    display: none;
}

span.fancytree-icon {
    background-image: url("images/admin/folder.png")!important;
    background-position: 0 0!important;
}

a.btn-flat {
    background-color: #f4f4f4!important;
    margin-left: 10px;
}

.btn {
    border-radius: 3px!important;
}

td a {
    margin-right: 5px;
}

.content {
    overflow: auto;
}

body {
    overflow: auto!important;
}

.row .nextField {
    float: left;
    margin-right: 8px;
    width: 250px;
}

.lodd {
    background-color: #F3F4F5!important;
}

#producerList {
    padding: 10px;
    display: inline-block;
}

#producerList ul{
    list-style: none;
    display: inline-block;
}

.hide {
    display: none!important;
}

#fancytree-drop-marker, span.fancytree-checkbox, span.fancytree-drag-helper-img, span.fancytree-empty, span.fancytree-expander, span.fancytree-icon, span.fancytree-radio, span.fancytree-vline {
    vertical-align: bottom!important;
}

.sizeColor {
    float: left;
}

.sizeColor fieldset {
    clear: both;
    width: 200px;
}

td input {
    background-color: white!important;
}

.photo a.btn-primary {
    margin-top: 5px;
}

#btnMain {
    width: 820px;
    position: relative;
}

.knob {
    margin-left: 105px!important;
}

.glyphicon-check:before, .glyphicon-check:after, .glyphicon-check:active, .glyphicon-check {
    content: ''!important;
}

.box.box-info {
    border-top-color: inherit;
}

.row .pull-right {
    float: left!important;
    background-color: transparent!important;
}

.fa-minus1 {
    content: ''!important;
    background-image: url("images/admin/arrow2.png")!important;
    width:  6px!important;
    height: 10px!important;
}

.fa-minus {
    background-image: url("images/admin/arrow1.png")!important;
    width: 10px!important;
    height: 6px!important;
}

.row .pull-right .fa-minus:before, .row .pull-right .fa-minus:after, .row .pull-right .fa-minus {
    content: ''!important;
}

.pull-right .btn-sm {
    background-color: transparent!important;
    border-color: transparent!important;
}

.pull-right {
    border-color: transparent!important;
}

.row .col-md-12 {
    padding: 10px!important;
}

.box .box-header, .box .box-body, .row .col-md-12 {
    background-color: #EBEBE3!important;
}

.cke_toolbar_break {
    float: left!important;
    clear: none!important;
}

#addAddress {
    margin: 100px 100px 20px 10px ;
}

#user_update table {
    margin-left: 10px;
}

