/* DIALOG */

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.ui-widget-header {
    border: none;
    background: none;
    text-align: center;
    padding-top: 30px!important;
}

.ui-dialog .ui-dialog-title {
    float: none;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    margin-right: -7px;
    margin-left: 20px;
}

.ui-dialog .ui-dialog-buttonpane {
    border-width: 0;
    text-align: center;
}

.ui-dialog .ui-dialog-content {
    overflow: visible;
}

.oneButton {
    width: 150px;
    float: left;
    margin-left: 0;
}

.twoButton {
    width: 150px;
}