/*
 IMPORTANT: 
 - Replace ID with your module's unique id
 - Do not use percentage for module width and height, enter actual fixed width in pixels
*/
#ajaxscrl115 {
    position: relative;
    overflow: visible;
    display: none;
    /*background: url( "http://localmoto.loc/modules/mod_ajaxscroller/mod_ajaxscroller/bg.gif" ) no-repeat 0 0;*/
    /* uncomment for module background */
}

#ajaxscrl115 .mContainer {
    width: 400px; /* edit this value for your own module width */
    height: 220px; /* edit this value for your own module height */
    display: block;
    overflow: hidden;
    position: relative;
}

#ajaxscrl115 .mScrollBlock {
    position: absolute;
}

#ajaxscrl115 .mScroller {
    display: block;
    margin: 0;
    padding: 0;
}

#ajaxscrl115 .mScroller div {
    display: block;
    text-align: left;
    margin: 0;
    float: left;
    width: 400px; /* edit this value for your own module width */
    min-height: 220px; /* edit this value for your own module height */
}

#ajaxscrl115 .mScroller div div {
    /* if more than 1 item displayed use this for individual item size */
    display: block;
    margin-right: 5px;
    float: left;
    width: 140px;
}

#ajaxscrl115 .mScroller div .title {
    display: block;
}

#ajaxscrl115 .mScroller div p.link {
    margin: 0;
    text-align: right;
}

#ajaxscrl115 .title {
    font-weight: bold;
    display: block;
}

#ajaxscrl115 .date {
    display: block;
}

#ajaxscrl115 .mNavLeft,
#ajaxscrl115 .mNavRight,
#ajaxscrl115 .mNavUp,
#ajaxscrl115 .mNavDown,
#ajaxscrl115 .mNavPause,
#ajaxscrl115 .mNavPlay {
    width: 19px;
    height: 39px;
    cursor: hand;
    cursor: pointer;
    background: url("navigation.png") no-repeat;
    position: absolute;
    top: 85px;
    z-index: 100;
}

#ajaxscrl115 .mNavPlay,
#ajaxscrl115 .mNavPause {
    right: 48px;
}

#ajaxscrl115 .mNavPlay {
    background-position: 0 -32px;
}

#ajaxscrl115 .mNavPlay.hover {
    background-position: -32px -32px;
}

#ajaxscrl115 .mNavPause {
    background-position: -16px -32px;
}

#ajaxscrl115 .mNavPause.hover {
    background-position: -20px 0;
}

#ajaxscrl115 .mNavLeft {
    background-position: 0 0;
    left: 0;
}

#ajaxscrl115 .mNavLeft.hover {
    background-position: 0 0;
}

#ajaxscrl115 .mNavRight {
    background-position: -20px 0;
    right: 0;
}

#ajaxscrl115 .mNavRight.hover {
    background-position: -20px 0;
}

#ajaxscrl115 .mNavUp {
    background-position: 0 -16px;
    right: 30px;
}

#ajaxscrl115 .mNavUp.hover {
    background-position: -32px -16px;
}

#ajaxscrl115 .mNavDown {
    background-position: -16px -16px;
    right: 12px;
}

#ajaxscrl115 .mNavDown.hover {
    background-position: -48px -16px;
}

#ajaxscrl115 .mNavLoading {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -27px;
    right: 0;
}

#ajaxscrl115 .loading {
    background: url("loading.gif") no-repeat;
}

