/*
 IMPORTANT: 
 - Replace ID with your module's unique id
 - Do not use percentage for module width and height, enter actual fixed width in pixels
*/
#ajaxscrl92 {
    position: relative;
    overflow: visible;
    /*background: url( "http://localmoto.loc/modules/mod_ajaxscroller/mod_ajaxscroller/bg.gif" ) no-repeat 0 0;*/
    /* uncomment for module background */
}

#ajaxscrl92 .mContainer {
    width: 317px; /* edit this value for your own module width */
    height: 420px; /* edit this value for your own module height */
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#ajaxscrl92 .mScroller {
    display: block;
    margin: 0;
    padding: 0;
}

#ajaxscrl92 .mScroller .odd {
    border-bottom: 1px solid #dadad3;
}

#ajaxscrl92 .mScroller .even {
    border-bottom: 1px solid #dadad3;
}

#ajaxscrl92 .mScroller div {
    display: block;
    text-align: left;
    margin: 0;
    float: left;
    width: 317px; /* edit this value for your own module width */
    min-height: 124px; /* edit this value for your own module height */
}

#ajaxscrl92 .mScroller div div {
    /* if more than 1 item displayed use this for individual item size */
    display: block;
    margin-right: 5px;
    float: left;
    width: 317px;
    text-align: center;
}

#ajaxscrl92 .mScroller div div p span {
    font-size: 0.8em;
}

#ajaxscrl92 .mScroller div div h2 {
    /* if more than 1 item displayed use this for individual item size */
    padding-top: 15px;
    font-size: 1.0em;
}

#ajaxscrl92 .mScroller div div a {
    /* if more than 1 item displayed use this for individual item size */
    color: #000000;
    text-decoration: none;
}

#ajaxscrl92 .mScroller div .title {
    display: block;
}

#ajaxscrl92 .mScroller div p.link {
    margin: 0;
    text-align: right;
}

#ajaxscrl92 .title {
    font-weight: bold;
    display: block;
}

#ajaxscrl92 .date {
    display: block;
    color: #959595;
    padding: 10px 0;
    font-weight: bold;
}

#ajaxscrl92 .mNavLeft,
#ajaxscrl92 .mNavRight,
#ajaxscrl92 .mNavUp,
#ajaxscrl92 .mNavDown,
#ajaxscrl92 .mNavPause,
#ajaxscrl92 .mNavPlay {
    width: 6px;
    height: 11px;
    cursor: hand;
    cursor: pointer;
    background: url("navigation3.png") no-repeat;
    position: absolute;
    bottom: 0;
}

#ajaxscrl92 .mNavPlay,
#ajaxscrl92 .mNavPause {
    right: 48px;
}

#ajaxscrl92 .mNavPlay {
    background-position: 0 -32px;
}

#ajaxscrl92 .mNavPlay.hover {
    background-position: -32px -32px;
}

#ajaxscrl92 .mNavPause {
    background-position: -16px -32px;
}

#ajaxscrl92 .mNavPause.hover {
    background-position: -48px -32px;
}

#ajaxscrl92 .mNavLeft {
    background-position: 0 -11px;
    right: 163px;
    bottom: 18px;
    z-index: 3000;
}

#ajaxscrl92 .mNavLeft:hover {
    background-position: -12px 0px;
}

#ajaxscrl92 .mNavLeft.hover {
    background-position: -12px 0px;
}

#ajaxscrl92 .mNavRight {
    background-position: -6px -11px;
    right: 145px;
    bottom: 18px;
    z-index: 3000;
}

#ajaxscrl92 .mNavRight:hover {
    background-position: -18px 0px;
}

#ajaxscrl92 .mNavRight.hover {
    background-position: -18px 0px;
}

#ajaxscrl92 .mNavUp {
    background-position: 0 -6px;
    right: 30px;
}

#ajaxscrl92 .mNavUp.hover {
    background-position: -18px -6px;
}

#ajaxscrl92 .mNavDown {
    background-position: -16px -6px;
    right: 12px;
}

#ajaxscrl92 .mNavDown.hover {
    background-position: -48px -16px;
}

#ajaxscrl92 .mNavLoading {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -27px;
    right: 0;
}

#ajaxscrl92 .loading {
    background: url("loading.gif") no-repeat;
}







