/*
 IMPORTANT: 
 - Replace ID with your module's unique id
 - Do not use percentage for module width and height, enter actual fixed width in pixels
*/
#ajaxscrl88 {
    position: relative;
    overflow: visible;
    /*background: url( "http://localmoto.ru/modules/mod_ajaxscroller/mod_ajaxscroller/bg.gif" ) no-repeat 0 0;*/
    /* uncomment for module background */
}

#ajaxscrl88 .mContainer {
    width: 990px; /* edit this value for your own module width */
    height: 518px; /* edit this value for your own module height */
    display: block;
    overflow: hidden;
    position: relative;
}

#ajaxscrl88 .mScrollBlock {
    position: absolute;
}

#ajaxscrl88 .mScroller {
    display: block;
    margin: 0;
    padding: 0;
}

#ajaxscrl88 .mScroller div {
    display: block;
    text-align: left;
    margin: 0;
    float: left;
    width: 990px; /* edit this value for your own module width */
    min-height: 518px; /* edit this value for your own module height */
}

#ajaxscrl88 .mScroller div div {
    /* if more than 1 item displayed use this for individual item size */
    display: block;
    margin-right: 5px;
    float: left;
    width: 140px;
}

#ajaxscrl88 .mScroller div .title {
    display: block;
}

#ajaxscrl88 .mScroller div p.link {
    margin: 0;
    text-align: right;
}

#ajaxscrl88 .title {
    font-weight: bold;
    display: block;
}

#ajaxscrl88 .date {
    display: block;
}

#ajaxscrl88 .mNavLeft,
#ajaxscrl88 .mNavRight,
#ajaxscrl88 .mNavUp,
#ajaxscrl88 .mNavDown,
#ajaxscrl88 .mNavPause,
#ajaxscrl88 .mNavPlay {
    width: 19px;
    height: 39px;
    cursor: hand;
    cursor: pointer;
    background: url("navigation.png") no-repeat;
    position: absolute;
    top: 259px;
    z-index: 100;
}

#ajaxscrl88 .mNavPlay,
#ajaxscrl88 .mNavPause {
    right: 48px;
}

#ajaxscrl88 .mNavPlay {
    background-position: 0 -32px;
}

#ajaxscrl88 .mNavPlay.hover {
    background-position: -32px -32px;
}

#ajaxscrl88 .mNavPause {
    background-position: -16px -32px;
}

#ajaxscrl88 .mNavPause.hover {
    background-position: -20px 0;
}

#ajaxscrl88 .mNavLeft {
    background-position: 0 0;
    left: 0;
}

#ajaxscrl88 .mNavLeft.hover {
    background-position: 0 0;
}

#ajaxscrl88 .mNavRight {
    background-position: -20px 0;
    right: 0;
}

#ajaxscrl88 .mNavRight.hover {
    background-position: -20px 0;
}

#ajaxscrl88 .mNavUp {
    background-position: 0 -16px;
    right: 30px;
}

#ajaxscrl88 .mNavUp.hover {
    background-position: -32px -16px;
}

#ajaxscrl88 .mNavDown {
    background-position: -16px -16px;
    right: 12px;
}

#ajaxscrl88 .mNavDown.hover {
    background-position: -48px -16px;
}

#ajaxscrl88 .mNavLoading {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -27px;
    right: 0;
}

#ajaxscrl88 .loading {
    background: url("loading.gif") no-repeat;
}