header {
    border-bottom: 1px solid #be9871;
}

.main {
    /*margin-top: 380px;*/
}

.page_navigator {
    text-transform: uppercase;
    margin-bottom: 7px;
    position: relative;
    top: 0;
    left: 0;
}

.page_navigator .date {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'LettrGothic-Bold', Arial, sans-serif;
    font-size: 12px;
    color: #be9872;
    position: absolute;
}

.page_navigator a {
    font-family: 'LettrGothic', Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; /* ease-in-out */
}

.page_navigator a.page_nav_next {
    display: block;
    float: right;
    background: url(../img/aar.png) no-repeat 100% 4px;
    padding-right: 10px;
    position: relative;
    right: 0px;
}

.page_navigator a.page_nav_prev {
    display: block;
    float: left;
    background: url(../img/aal.png) no-repeat 0% 4px;
    padding-left: 10px;
    position: relative;
    left: 0;
}

.page_navigator a.page_nav_next:hover {
    right: -5px;
}

.page_navigator a.page_nav_prev:hover {
    left: -5px;
}

.item-page_news .main_img {
    width: 100%;
    margin-bottom: 50px;
}

.item-page_news .main_img img {
    width: 100%;
}

.item-page_news h1 {
    font-size: 30px;
    color: black;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.item-page_news .full_text {
    font-size: 22px;
    color: #5c5c56;
    margin-bottom: 20px;
    line-height: 40px;
}

.share_wrap {
    border-bottom: 1px solid #a7a79e;
    width: 100%;
    height: 7px;
    margin-bottom: 55px;
}

.share_title {
    font-family: 'LettrGothic-Bold', Arial, sans-serif;
    display: block;
    color: #5c5c56;
    text-align: center;
    font-size: 12px;
    background: #ebebe3;
    width: 50px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-transform: uppercase;
}

.soc_button_art {
    margin: 10px auto;
    display: block;
}

.top_slider {
    margin: 0;
}

.full_text a {
    color: #be9872;
}

.full_text a:hover {
    color: #9a7c5e;
}

.news_content.noslider {
    border-top: 1px solid #be9872;
}

.simple_article {
    position: relative;
}

.simple_article {
    padding: 20px 0 0 0;

}

.simple_article .left_column {
    float: left;
    width: 50%;
    display: table;
}

.simple_article .right_column {
    float: right;
    width: 50%;
    display: table;
}

.simple_article h1 {
    font-family: 'LettrGothic-Bold', Arial, sans-serif;
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;

    text-align: center;
}

.simple_article h2 {
    font-family: 'LettrGothic-Bold', Arial, sans-serif;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.simple_article img {

}

.simple_article > div > p {
    font-family: 'LettrGothic', Arial, sans-serif;
    color: rgb(60, 60, 60);
    font-size: 18px;

    line-height: 28px;
    margin-bottom: 30px;
}

.simple_article .bottom {
    border-top: 1px solid #aaaaaa;;
    text-align: center;
}

.simple_article .bottom p {
    font-family: 'LettrGothic', Arial, sans-serif;
    color: rgb(60, 60, 60);
    font-size: 14px;
    text-transform: uppercase;
}

.simple_article a {
    color: #be9872;
    text-decoration: underline;
}

.simple_article a:hover {
    color: black;
}

.simple_article .title_cont {
    width: 100%;
    height: 300px;

    display: table-cell;
    vertical-align: middle;
}

.simple_article .title_cont2 {
    padding-top: 30px;

}

.simple_article .img_cont {
    width: 100%;
    height: 300px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.simple_article.about {
    text-align: center;
}

.simple_article.about * {
    font-family: 'LettrGothic-Bold', Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;
}

.simple_article.about h1 {
    font-size: 60px;
    letter-spacing: 62px;
    text-align: right;
    margin: 25px 0 0 0;
}

.simple_article.about h2 {
    font-size: 30px;
    margin: 45px 0 45px 0;
}

.simple_article.about h3 {
    font-size: 30px;
    letter-spacing: 30px;
    line-height: 70px;
    margin: 45px 0;
}

.simple_article.about h4 {
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 40px;
    margin: 50px 0;
}

.simple_article.about h5 {
    display: inline-block;
    font-size: 18px;
}

.simple_article.about .middle_line h5 {
    margin: 0 82px;
}

.simple_article.about .middle_line h5:first-child {
    margin-left: 0;
}

.simple_article.about .middle_line h5:last-child {
    margin-right: 0;
}

.simple_article.about .ab_left {
    float: left;
    width: 50%;
    text-align: right;
}

.simple_article.about .ab_right {
    float: right;
    width: 50%;
    text-align: left;
}

.simple_article.about .ab_left h5 {
    padding-right: 13px;

}

.simple_article.about .ab_right h5 {
    padding-left: 13px;
}

@media only screen and (max-width: 990px) {
    .main {
        margin-top: 10px;
    }

    .simple_article .left_column {
        width: 100%;
    }

    .simple_article .right_column {
        width: 100%;
    }

    .simple_article .title_cont {
        height: 100px;

    }

    .simple_article .img_cont {
        width: 100%;
        height: 300px;
    }

    .simple_article h2 {
        text-align: left;
    }

    .simple_article.about h1 {
        letter-spacing: 40px;
        text-align: center;
        margin: 25px 0 0 25px;
    }

    .simple_article.about h2 {
        font-size: 30px;
        margin: 45px 0 45px 0;

        text-align: center;
    }

    .simple_article.about h3 {
        font-size: 23px;
        letter-spacing: 8px;
        line-height: 47px;
        margin: 45px 0;
    }

    .simple_article.about h4 {
        font-size: 30px;
        letter-spacing: 3px;
        line-height: 40px;
        margin: 50px 0;
    }

    .simple_article.about h5 {
        display: block;
        font-size: 16px;

        margin: 0 0 3px 0 !important;
    }
}
