#nav {
    font-family: 'LettrGothic-Bold';
    font-size: 1.9em;
    text-transform: uppercase;
    background: url(../img/nav-bg.jpg) no-repeat center 5px;
    width: 100%;
    height: 20px;
    margin-top: 15px;
}

#nav > li {
    float: left;
    position: relative;
    list-style: none;
    width: 20%;
    text-align: center;
    z-index: 500;
}

/* main level link */

#nav a {
    text-decoration: none;
    padding: 0 5px;
    color: #000000;
    position: relative;
    z-index: 100;
    background-color: #EBEBE3;
}

#nav li:hover > a {
    color: #be9872;
    background: #dadad3 ;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
    color: #be9872;
}

/* sub levels link hover */
#nav ul li a, #nav li li a {
    background: none;
    border: none;
    color: #ab8661;
    font-size: 0.5em;
    font-family: 'LettrGothic';
}

#nav ul a:hover {
    color: #000000 !important;
}

/* dropdown */
#nav li:hover > ul {
    /*display: block; opacity: 1;*/
}

/* level 2 list */
#nav ul {
    display: none;
    opacity: 0;

    margin: 0;
    padding: 0;
    width: 198px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 35px;
    background: #dadad3;

    -webkit-transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -ms-transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}

#nav ul a {
    font-weight: normal;
}

/* level 3+ list */
#nav ul ul {
    left: 181px;
    top: -3px;
}

/* rounded corners of first and last link */
#nav ul li > a {

}

#nav ul li:last-child > a {

}

/* clearfix */
#nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#nav {
    display: inline-block;
}

html[xmlns] #nav {
    display: block;
}

* html #nav {
    height: 1%;
}

.active > a:first-child {
    color: #be9872 !important;
}

@media only screen and (max-width: 990px) {

    #nav {
        font-family: 'LettrGothic-Bold';
        font-size: 1.9em;
        text-transform: uppercase;
        background: url(../img/nav-bg.jpg) no-repeat center 5px;
        width: 100%;
        height: 20px;
        margin-top: 15px;
    }

    #nav > li {
        float: left;
        position: relative;
        list-style: none;
        width: 20%;
        text-align: center;
        z-index: 500;
    }

    /* main level link */
    #nav a {
        text-decoration: none;
        padding: 0 5px;
        color: #000000;
        position: relative;
        z-index: 100;
        background-color: #EBEBE3;
    }

    #nav a:hover {
        color: #be9872;
    }

    /* main level link hover */
    #nav .current a, #nav li:hover > a {
        color: #be9872;
    }

    /* sub levels link hover */
    #nav ul li a, #nav li li a {
        background: none;
        border: none;
        color: #ab8661;
        font-size: 0.5em;
        font-family: 'LettrGothic';
    }

    #nav ul a:hover {
        color: #000000 !important;
    }

    /* dropdown */
    #nav li:hover > ul {
        padding: 0;
        /*display: block; opacity: 1;*/
        background: none;
    }

    /* level 2 list */
    #nav ul {
        display: none;
        opacity: 0;

        margin: 0;
        padding: 0;
        width: 198px;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 35px;
        background: #dadad3;

        -webkit-transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -moz-transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -ms-transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -o-transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
    }

    #nav ul li {
        float: none;
        margin: 0;
        padding: 0;
        width: auto;
    }

    #nav ul a {
        font-weight: normal;
    }

    /* level 3+ list */
    #nav ul ul {
        left: 181px;
        top: -3px;
    }

    /* rounded corners of first and last link */
    #nav ul li > a {
        padding: 6px 0;

        display: block;
    }

    #nav ul li:last-child > a {

    }

    /* clearfix */
    #nav:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #nav {
        display: inline-block;
    }

    html[xmlns] #nav {
        display: block;
    }

    * html #nav {
        height: 1%;
    }

    .active > a {
        color: black !important;
    }

    #nav {
        background: none;
    }

    #nav > li {
        clear: both;
        width: 100%;
        text-align: center;
        background: #be9872;
        height: auto;

        -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -ms-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    }

    #nav > li:hover {
        background: none;
    }

    #nav > li.active {
        background: none;
    }

    #nav > li:hover a,
    #nav > li:active a {
        color: black;
    }

    #nav > li a {

    }

    #nav > li ul {
        position: relative;

        font-family: 'LettrGothic-Bold';
        font-size: 38px;
        width: 100%;

        background: none;
        padding: 0;
    }

    #nav > li ul li {
        height: 36px;
    }

    #nav > li ul li:hover {
        background: #dedede;
    }

    #nav > li ul li a {
        color: black;

    }

}