/* ******************************* MAIN ***************************** */

#auth-menu {
    top: -500px;
    width: 100%;
    min-width: 380px;
    max-width: 990px;

    z-index: 999;
    position: fixed;
    text-transform: uppercase;
    font-family: LettrGothic-Bold;
}

#auth-menu .menu-blocks {
    background-color: #DADAD3;

    -webkit-box-shadow: 0px 0px 100px #C2BFB4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#ADA99C,direction=125,strength=5)";
    box-shadow: 0px 0px 50px 50px #C2BFB4;
}

#auth-menu .form-block {
    height: 100%;
}

#auth-menu .footer-block {
    letter-spacing: 2px;
    font-size: 0.9em;
}

#auth-menu .g-block {
    display: none;
    padding: 15px;
}

#auth-menu .b-item {
    position: relative;
}

#auth-menu .g-left {
    float: left;
    width: 49%;
    text-align: left;
}

#auth-menu .g-right {
    float: right;
    width: 49%;
    text-align: right;
}

#auth-menu input[type=text], #auth-menu input[type=password] {
    border: 5px solid #BE9872;
    width: 98%;
    height: 30px;
    background-color: #DFDFD8;
    font-family: LettrGothic-Bold;
    color: black;
    z-index: 1000;
    position: relative;
    padding: 2px 0 0 6px;
    font-size: 16px;
}

#auth-menu input[type=text].text-present, #auth-menu input[type=password].text-present {
    border: 5px solid black;
}

#auth-menu input[type=text]:focus, #auth-menu input[type=password]:focus {
    border: 5px solid black;
    z-index: 2000;
}

#auth-menu input::-moz-placeholder {
    color: #BE9872;
}

#auth-menu input::-webkit-input-placeholder {
    color: #BE9872;
}

#auth-menu input[type=submit].button-1 {
    border: 5px solid black;
    height: 38px;
    background-color: #DFDFD8;
    color: black;
    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    font-size: 1.1em;
    padding-top: 3px;
}

#auth-menu input[type=submit].button-1:hover {
    border: 5px solid #BE9872;
}

#auth-menu input[type=submit].button-2 {
    border: none;
    height: 20px;
    margin-top: 5px;
    background-color: #BE9872;
    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    color: #E9E9E1;
    padding-top: 2px;
}

#auth-menu input[type=submit].button-2:disabled {
    background-color: #D2BAA1;
}

#auth-menu a {
    color: #BE9872;
    text-decoration: none;
}

#auth-menu a:hover {
    color: black;
}

#auth-menu .t-grey {
    color: #5C5C56;
}

#auth-menu .t-brown {
    color: #BE9872;
}

#auth-menu span.brown-label {
    font-family: LettrGothic;
    font-size: 0.9em;
    color: #BE9872;
}

#auth-menu .phone-num {
    white-space: nowrap;
}

/* ******************************* BLOCKS ***************************** */

#auth-menu.auth .auth-block,
#auth-menu.reg .reg-block,
#auth-menu.reg-ok .reg-complete-block,
#auth-menu.pass-remind .pass-remind-block {
    display: block;
}

#auth-menu .auth-block {
    /*height: 113px;*/
}

#auth-menu .pass-remind-block {
    /*height: 84px;*/
}

#auth-menu .reg-block, #auth-menu .reg-complete-block {
    /*height: 277px;*/
}

/* ******************************* SLIDER ***************************** */

#auth-menu .menu-slider {
    background-image: url('../img/auth_slider.png');
    position: relative;

    top: -4px;
    width: 53px;
    height: 26px;
    margin: 0 auto;

    cursor: pointer;
}

#auth-menu .menu-slider:hover {
    top: -8px;
}

/* ******************************* INVALID FIELDS ***************************** */
#auth-menu .invalid-text {
    display: none;

    font-family: LettrGothic;
    font-size: 12px;

    float: left;
    position: absolute;
    margin: 8px 0 0 -220px;
    color: #5C5C56;

    text-align: right;
    width: 200px;
}

#auth-menu .invalid-slider {
    display: none;

    width: 15px;
    height: 0px;
    border-top: 1px solid #5C5C56;

    position: absolute;
    float: left;
    margin: 16px 0 0 -15px;
}

#auth-menu .t-invalid .invalid-text, #auth-menu .t-invalid .invalid-slider {
    display: block;
}

#auth-menu .t-invalid input[type=text], #auth-menu .t-invalid input[type=password] {
    border: 5px solid #5C5C56;
    color: #5C5C56;
}

/* ******************************* AUTH BLOCK ***************************** */

#auth-menu .auth-block .form-block .g-right .block-2 {
    margin-top: -5px;
}

#auth-menu .auth-block .form-block .g-right .block-3 {
    text-align: right;
}

#auth-menu .auth-block .footer-block {
    margin-top: 15px;
}

#auth-menu .auth-block .footer-block .g-right .block-1 {
    float: left;
    text-align: left;
}

#auth-menu .auth-block .footer-block .g-right .block-2 {
    float: right;
    font-family: LettrGothic;
}

@media only screen and (max-width: 590px) {
    #auth-menu .auth-block .footer-block .g-right .block-1 {
        float: right;
        text-align: right;
    }
}

/* ******************************* REG BLOCK ***************************** */

#auth-menu .reg-block .form-block .g-left {
    font-size: 1.2em;
}

#auth-menu .reg-block .form-block .g-right .block-2,
#auth-menu .reg-block .form-block .g-right .block-3,
#auth-menu .reg-block .form-block .g-right .block-4 {
    margin-top: -5px;
}

#auth-menu .reg-block .form-block .g-right .block-5 {
    text-align: left;
    letter-spacing: 2px;
}

#auth-menu .reg-block .form-block .g-right .block-7 {
    text-align: left;
    margin-top: 15px;
    letter-spacing: 2px;
}

#auth-menu .reg-block .footer-block {
    margin-top: 30px;
}

#auth-menu .reg-block .footer-block .g-right .block-1 {
    float: left;
    text-align: left;
}

#auth-menu .reg-block .footer-block .g-right .block-2 {
    float: right;
    font-family: LettrGothic;
}

/* ******************************* REG COMPLETE BLOCK ***************************** */

#auth-menu .reg-complete-block {
    text-align: center;
    line-height: 1.0;
}

#auth-menu .reg-complete-block .block-1 {
    font-size: 2em;
    padding: 0 15%;
}

#auth-menu .reg-complete-block .block-2 {
    margin-top: 12px;
    padding: 0 36%;
}

#auth-menu .reg-complete-block .block-3 {
    margin-top: 80px;
    font-size: 1.2em;
    line-height: 1.1;
}

/* ******************************* PASS REMIND BLOCK ***************************** */

#auth-menu .pass-remind-block .form-block .g-left {
    line-height: 1.0;
}

#auth-menu .pass-remind-block .form-block .g-left span {
    color: black;
    cursor: pointer;
}

#auth-menu .pass-remind-block .footer-block {
    margin-top: 15px;
}

#auth-menu .pass-remind-block .footer-block .g-right .block-1 {
    float: left;
    text-align: left;
}


















