
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

img, object, embed {
    max-width: 100%;
}

ul {
    list-style: none outside none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

a {
    background: none repeat scroll 0 0 transparent;
    font-size: 100%;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: baseline;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

input, select {
    outline: medium none;
    vertical-align: middle;
}

pre {
    white-space: pre-line;
    word-wrap: break-word;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.ie6 input {
    vertical-align: text-bottom;
}

select, input, textarea {
    font: 99% sans-serif;
}

table {
    font-size: inherit;
}

a:hover, a:active {
    outline: medium none;
}

small {
    font-size: 12px;
}

strong, th {
    font-weight: bold;
}

td, td img {
    vertical-align: top;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

.clickable, label, input[type="button"], input[type="submit"], button {
    cursor: pointer;
}

button, input, select, textarea {
    margin: 0;
}

button {
    overflow: visible;
    width: auto;
}

.ie7 img {
}

.ie6 html {
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
}

body {
    background: none repeat scroll 0 0 #fff;
    font-family: 'PT Sans', sans-serif;
}

body, select, input, textarea {
    color: #fff;
}

a {
    color: #03f;
}

a:hover {
    color: #69f;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #fcd700;
    color: #fff;
    text-shadow: none;
}

a:link {
}

ins {
    background-color: #fcd700;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #fcd700;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

@media print {
}

@media screen and (max-device-width: 480px) {
}

@media all and (orientation: portrait) {
}

@media all and (orientation: landscape) {
}
