#facebox {
    position: absolute;
    z-index: 65560;
    text-align: left;
}

#facebox .popup {
    position: relative;
    -moz-box-shadow: 0 0 140px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 140px rgba(0, 0, 0, 0.4);
}

#facebox .content {
    display: table;
    width: auto;
    padding: 40px;
    background: #EBEBE3;
    text-align: center;
    line-height: 30px;
}

#facebox .content > p:first-child {
    margin-top: 0;
}

#facebox .content > p:last-child {
    margin-bottom: 0;
}

#facebox .close {
    position: absolute;
    top: 5px;
    right: 1px;
    padding: 2px;
    width: 32px;
    height: 32px;
    background: url(../images/facebox/closelabel.png) no-repeat;
    opacity: 0.3;
}

#facebox .close:hover {
    opacity: 1.0;
}

#facebox .close img {
    opacity: 0.3;
}

#facebox .close:hover img {
    opacity: 1.0;
}

#facebox .loading {
    text-align: center;
}

#facebox .image {
    text-align: center;
}

#facebox img {
    border: 0;
    margin: 0;
}

#facebox_overlay {
    z-index: 65558;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.facebox_hide {
    z-index: -100;
}

.facebox_overlayBG {
    background-color: #000;
    z-index: 99;
}

#facebox a {
    color: #be9872;
}

#facebox a:hover {
    color: black;
}

#facebox a.continue {
    margin: 0 10px 0 0;
}
