@font-face {
    font-family: 'LettrGothic';
    src: url('../fonts/269B47_0_0.eot');
    src: url('../fonts/269B47_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/squirrel/newlettergothicc_dvlp-webfont.woff') format('woff'),
    url('../fonts/269B47_0_0.ttf') format('truetype'),
    url('../fonts/269B47_0_0.svg#LettrGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LettrGothic-Italic';
    src: url('../fonts/269B47_1_0.eot');
    src: url('../fonts/269B47_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/269B47_1_0.woff') format('woff'),
    url('../fonts/269B47_1_0.ttf') format('truetype'),
    url('../fonts/269B47_1_0.svg#LettrGothic-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LettrGothic-Bold';
    src: url('../fonts/269B47_2_0.eot');
    src: url('../fonts/269B47_2_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/squirrel/newlettergothicc_dvlp-bold-webfont.woff') format('woff'),
    url('../fonts/269B47_2_0.ttf') format('truetype'),
    url('../fonts/269B47_2_0.svg#LettrGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LettrGothic-BoldItalic';
    src: url('../fonts/269B47_3_0.eot');
    src: url('../fonts/269B47_3_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/269B47_3_0.woff') format('woff'),
    url('../fonts/269B47_3_0.ttf') format('truetype'),
    url('../fonts/269B47_3_0.svg#LettrGothic-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}