.ui-widget {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background: #EBEBE3;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.ui-datepicker {
    padding: 0;
}

.ui-datepicker-header {
    border: none;
    background: transparent;
    font-weight: normal;
    font-size: 15px;
}

.ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
    margin-top: .4em;
    margin-bottom: .3em;
    color: #e9f0f4;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
    top: .9em;
    border: none;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    background-image: url(../images/datePickerImages.png);
    background-position: -32px 0;
    margin-top: 0;
    top: 0;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-prev span {
    background-position: -96px 0;
}

.ui-datepicker table {
    margin: 0;
}

.ui-datepicker th {
    padding: 1em 0;
    color: #BE9872;
    font-size: 14px;
    font-weight: normal;
    border: none;
    /* text-align: right; */
}

.ui-datepicker td {
    background: rgba(218, 218, 211, 0.29);
    border: none;
    padding: 0;
}

td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    padding: .5em;
    margin: 0;
    font-weight: normal;
    color: #efefef;
    font-size: 16px;
}

.ui-state-disabled {
    opacity: 1;
}

.ui-state-disabled .ui-state-default {
    color: #fba49e;
}

td .ui-state-active,
td .ui-state-hover {
    background: #2e3641;
}

.ui-datepicker {
    width: 360px;
    box-shadow: 0px 0px 50px 10px #C2BFB4;
    font-family: 'LettrGothic';
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    font-weight: normal;
    color: #555;
    text-align: center;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 0;
    filter: Alpha(Opacity=0);
    background-image: none;
}

.ui-datepicker .ui-datepicker-buttonpane button {
     display: inline-block;
    
     float: none;
     width: 98%;
    height: 20px;
    padding: 2px 0 0 0;

    background-color: #D2BAA1;
    color: #E9E9E1;

    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    
     text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: 0px;
    outline: 0px;
     border-radius: 0px;
}

.ui-datepicker .ui-datepicker-buttonpane button:hover {
     background-color: #BE9872;
}

.ui-datepicker .ui-datepicker-buttonpane {
    text-align: center;
    background: none;
    border: none;
    border-top: 1px solid #BE9872;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
    background: #BE9872;
    font-weight: normal;
    color: white;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.ui-state-default, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
 border: none;
 background: #BE9872;
 font-weight: normal;
 color: white;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;  height: 30px;  
    padding: 0px 0 0 6px;    
    margin: 0 5px;
    background-color: #DFDFD8;  color: black;  border: 5px solid #BE9872;  font-family: LettrGothic-Bold;  font-size: 16px;
    outline: 0px;

}

