@media only screen and (max-width: 990px) {
    .wrapper {
        width: 100%;
        min-width: 400px;
    }

    .address_h {
        float: none;
        text-align: center;
        width: 100%;
        margin: 10px auto 0;
    }

    header {
        position: relative;
        width: 400px;

        height: auto;
    }

    .f_header {
        width: 189px;
    }

    .vk_header {
        width: 189px;
    }

    .f_header .desktop, .vk_header .desktop {
        display: none;
    }

    .f_header .mobile, .vk_header .mobile {
        display: inline;
    }

    .address_text {
        display: block;
        margin: 10px auto;
        font-size: 1.0em;
        left: 0;
        bottom: 0;
    }

    .address_phone {
        display: block;
        font-family: 'LettrGothic';
        font-size: 2.0em;
        letter-spacing: 0.3em;
        left: 0;
    }

    .address_phone .mobile {
        display: inline;
    }

    .address_phone .desktop {
        display: none;
    }

    .search {
        top: 100px;
        width: 400px;
    }

    .search_input {
        width: 400px;
        border-top: 1px solid #9c9c9c;
        border-bottom: 1px solid #be9872;
        font-size: 1.0em;
    }

    .search_but {
        right: 0;
    }

    .basket_h, .basket_h.logged {
        position: relative;
        margin-right: 0;
        margin-left: -84px;
        left: 50%;
        height: 53px;
    }

    .basket_h img {
        position: relative;
        right: 0;
    }

    .title-basket {
        color: #be9872;
    }

    .logo {
        background: url(../img/logo-mob.png) no-repeat center;
        width: 190px;
        height: 54px;

        bottom: auto;
        top: 129px;
    }

    .logo:hover {
        background: url(../img/logo-mob.png) no-repeat center;
    }

    .logo img {
        display: none;
    }

    .motorcycle {
        border-bottom: none;
        margin: 0;

        padding-top: 130px;
    }

    .motorcycle span {
        top: 10px;
        font-size: 1.3em;
    }

    .main_menu {
        width: 400px;
        margin: 0 auto;
    }

    .second_main_menu {
        margin-top: 20px;
    }

    .main {
        width: 400px;
        margin: 15px auto 0;
    }

    /*.main_menu {
        width: 380px;
        margin: 0 auto;
    }

    #nav {
        background: none;
        width: 100%;
    }

    #nav li:hover > a {
        color: #000000;
    }

    #nav > li {
        float: none;
        width: 100%;
        background: #be9872;
    }

    #nav > li:hover {
        background: none;
        color: #000000;
    }

    #nav ul  {
        display: none!important;
    }*/
    .main_bottom {
        height: auto;
    }

    .mobile_menu {
        display: block;
        width: 380px;
        margin: 15px auto 0;
        text-align: center;
        text-transform: uppercase;
        font-family: 'LettrGothic-Bold';
        font-size: 30px;
    }

    .mobile_menu > ul > li > a {
        display: block;
        color: #000000;
        text-decoration: none;
        background: #be9872;
        width: 100%;
    }

    .active_mobile_menu > a {
        color: #000000 !important;
        background: #EBEBE3 !important;
        border-bottom: 1px solid #be9872;
    }

    .active_mobile_menu > a:hover {
        color: #be9872 !important;
    }

    .mobile_menu > ul > li > a:hover {
        background: none;
    }

    #sub_item {
        display: none;
    }

    .sub_item_active {
        display: block !important;
    }

    .mobile_menu > ul > li > ul > li > a {
        color: #be9872;
        text-decoration: none;
    }

    .mobile_menu > ul > li > ul > li > a:hover {
        color: #000000;
    }

    .mobile_menu > ul > li > ul > li > a.active_sub {
        color: #000000;
    }

    #ajaxscrl88 {
        margin: 15px auto 0;
        width: 380px;
    }

    #ajaxscrl88 .mContainer {
        width: 380px;
        height: 412px;
    }

    #ajaxscrl88 .mScroller div {
        width: 785px;
    }

    #m880 img {
        position: relative;
        right: 190px;
    }

    #ajaxscrl88 .mNavLeft,
    #ajaxscrl88 .mNavRight {
        display: none;
    }

    .main_bottom_first, .main_bottom_second, .main_bottom_third {
        float: none;
        height: 420px;
        width: 380px;
        margin: 0 auto;
    }

    .footer {

    }

    .mobile_footer_main {
        display: block;
    }

    #ajaxscrl92 .mContainer,
    #ajaxscrl92 .mScroller div,
    #ajaxscrl92 .mScroller div div {
        width: 380px;
    }

    #ajaxscrl92 .mNavLeft,
    #ajaxscrl92 .mNavRight,
    #ajaxscrl92 .mNavLoading {

    }

    #ajaxscrl92 .mNavLeft {
        right: 230px !important;

        bottom: 35px !important;
    }

    #ajaxscrl92 .mNavRight {
        bottom: 35px !important;

    }

    #ajaxscrl92 .mScroller div div p span {
        font-size: 0.9em;
    }

    .main_bottom_second {
        border-top: none;
        margin-bottom: 20px;
    }

    .main_bottom_second > span,
    .main_bottom_third > span {
        font-family: 'LettrGothic-Bold';
        margin: -5px 0;
    }

    .main_bottom_second > p > a,
    .main_bottom_third > p > a {
        font-size: 1.8em;
        margin: -5px 0;
        padding: 0;
    }

    .main_bottom_second img {
        margin: 40px 0;
    }

    .breadcrumbs {
        margin: 15px 0 0;
    }

    .browse-view {
        width: 400px;
        margin: 0 auto;
    }

    .catalog_block {
        float: left;
        width: 100%;
        text-align: center;
    }

    .catalog_item {
        float: none;
        width: 100%;
        height: 220px;

        margin-bottom: 25px;
    }

    .catalog_item a img {
        text-decoration: none;
        height: 118px;
        width: auto;
    }

    .horizontal-separator {
        display: none;
    }

    .clear {
        display: none;
    }

    .vm-pagination-top {
        height: 20px;
        width: 400px;
    }

    .vm-pagination-top > ul {
        float: none;
    }

    .all_category_items {
        display: none;
    }

    .vm-pagination-top .pagination-prev {
        position: absolute;
        left: 0;
    }

    .vm-pagination-top .pagination-next {
        position: absolute;
        right: 0;
        margin-right: 0px;
    }

    .vm-pagination-bottom {
        border-bottom: 1px solid #BE9872;
        border-top: 1px solid #BE9872;
        width: 400px;
        height: 32px;
        clear: both;
        position: relative;
    }

    .vm-pagination-bottom .pagination-prev .pagenav,
    .vm-pagination-bottom .pagination-next .pagenav {
        top: 5px;
        font-size: 15px;
        position: absolute;
        letter-spacing: 0px;
    }

    .vm-pagination-bottom .pagination-prev .pagenav {
        left: 0;
    }

    .vm-pagination-bottom .pagination-next .pagenav {
        right: 0;
    }

    .vm-pagination-bottom > ul > li > .pagenav {
        position: relative;
        top: 40px;
        z-index: 1000;
        font-size: 28px;
        letter-spacing: 10px;
    }

    .totalPages-bottom {
        display: block;
        position: relative;
        bottom: 26px;
    }

    .totalPages {
        right: 182px;
    }

    .footer {
        width: 400px;
        margin: 0 auto;
    }

    .f_staff,
    .f_motorcycle,
    .f_nav,
    .f_address,
    .f_line2 {
        display: none;
    }

    .f_logo img {
        position: absolute;
        left: 142px;
        top: 235px;
    }

    .subscribe {
        width: 380px;
        margin: 35px 10px 0;
        padding: 0;
    }

    .subscribe > form > span {
        font-size: 18.4px;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
    }

    #subscribe_input {
        width: 373px;
        float: none;
        border: 1px solid #be9872;
    }

    #subscribe_submit {
        width: 380px;
        font-size: 15px;
        height: 24px;
        padding-bottom: 2px;
    }

    .feedback {
        top: 30px;
        width: 378px;
        float: none;
        margin: 0 10px;
        font-size: 15px;
        height: 20px;
        padding-top: 2px;
    }

    .desktop_site {
        border: 1px solid #A7A79E;
        color: #000000;
        display: block;
        font-family: 'LettrGothic-Bold';
        font-size: 15px;
        height: 20px;
        letter-spacing: 0.1em;
        margin: 29px 10px 0;
        padding-top: 2px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 378px;
    }

    .desktop_site:hover {
        border-color: #BE9872;
        color: #BE9872;
    }

    .footer {
        height: 310px;

        border-top: 0px;
    }

    /********************* PRODUCT DETAIL ************************/
    .product_title {
        height: 23px;
    }

    .product_title h1 {
        font-size: 3em;
    }

    .goods {
        height: 550px;
    }

    .specs, .price, .model {
        width: 100%;
    }

    .specs {
        height: 173px;
    }

    .price {
        height: 200px;
    }

    .model {
        height: 173px;
    }

    .lm-product-related-products .rp_slider_cont .rp_sl_band a.rp_sl_item {
        width: 400px;
    }

    .lm-product-related-products .hover_pointer {
        width: 100%;
    }

    .price_buy {
        width: 100%;
    }

    .price_wishlist {
        width: 100%;
    }

    .model_code_title {
        left: 174px;
    }

    .main_slider {
    }

    .bottom_slider {
        margin-top: 30px;
        width: 100%;
    }

    .price_number {
        margin-top: 17px;
    }

    #ajaxscrl88 {
        display: none;
    }

    #ajaxscrl115 {
        display: block !important;
    }

    .second_main_menu > ul > li > a {
        font-size: 15px;
    }

    .second_main_menu > ul > li {
        margin: 0 10px;
    }

    /**********************************/
    #nav > li {

    }

    #nav > li a {

    }

    #nav > li ul {

    }

    #nav > li ul li {

    }

    #nav > li ul li a {

    }
}







