/* ***************************** COMMON ********************************** */

.order_process {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.order_process a.brown_button {
    display: block;
    height: 18px;
    padding: 2px 5px 0 5px;

    background-color: #D2BAA1;
    color: #E9E9E1;

    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: auto;
}

.order_process .brown_button {
    display: block;
    width: 100%;
    height: 20px;
    padding: 2px 0 0 0;

    background-color: #D2BAA1;
    color: #E9E9E1;

    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: 0px;
    outline: 0px;
}

.order_process .brown_button:hover {
    background-color: #BE9872;
}

.order_process .small_button {
    display: block;
    float: right;
    height: 14px;
    padding: 1px 5px 0 5px;
    margin-top: 4px;
    margin-right: -1px;

    color: #CBB194;
    border: 1px solid #CBB194;

    text-transform: uppercase;
    font-family: LettrGothic;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}
.order_process a.small_button:hover {
    color: #E9E7DE;
    background-color: #CBB194;
    border: 1px solid #CBB194;
}

.order_process input[type=text] {
    height: 22px;
    padding: 1px 0 0 6px;
    margin-bottom: 5px;

    background-color: #DFDFD8;
    color: #BE9872;
    border: 5px solid #BE9872;

    font-family: LettrGothic-Bold;
    font-size: 16px;
    border-radius: 0px;
    text-align: center;
}

.order_process input::-moz-placeholder { color: #BE9872; font-family: LettrGothic-Bold; font-size: 1.1em; }
.order_process input::-webkit-input-placeholder { color: #BE9872; font-family: LettrGothic-Bold; font-size: 1.1em; }

.order_process .sum_title {
    float: right;
    margin: 4px 15px 0 0;
    color: #BE9872;

    text-align: right;
    font-size: 12px;
}
.order_process .sum_value {
    float: right;
    width: auto;
    color: #BE9872;

    font-family: 'LettrGothic-Bold';
    font-size: 30px;
}

.order_process .op_main {
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cbb194;
}

.order_process .op_footer {
    float: right;
    width: 330px;
    margin-top: 15px;
}

/* ***************************** TITLE BLOCK ********************************** */

/* ------------------------- TITLE ---------------------------- */

.order_process .pc_title {
    font-family: 'LettrGothic-Bold';

    border-bottom: 1px solid #cbb194;
    text-align: center;
}

.order_process .pc_title span {
    position: relative;
    display: inline-block;
    padding: 3px 15px;
    top: 29px;

    background-color: #EBEBE3;
    color: #be9872;

    font-size: 1.2em;
}

/* -------------------------- CART ------------------------------ */

.order_process .pc_cart_block {
    text-align: center;
    margin: 50px 0 25px 0;
}

.order_process .pc_cart {
    display: inline-block;
    width: 150px;
    height: 107px;
    background: url('../img/triangle-empty.png') no-repeat;
    background-position: 0px 0px;
}
.order_process .pc_cart.active { background-position: 0px -107px; }
.order_process .pc_cart:hover > span { color: #be9872; }

.order_process .pc_cart .cart_title {
    display: block;
    margin-top: -6px;

    font-family: "LettrGothic-Bold";
    font-size: 1.1em;
    text-align: center;
}
.order_process .pc_cart .cart_number {
    display: block;
    margin-top: 8px;

    font-family: "LettrGothic-Bold";
    font-size: 2em;
    text-align: center;
}

/* ----------------------- TITLE BLOCK --------------------------- */

.order_process .op_title_block {
    font-size: 12px;
}
.order_process .op_title_block .op_title {
    float: left;
    border-bottom: 1px solid #cbb194;
    height: 7px;
    max-height: 7px;

    text-align: center;
}
.order_process .op_title_block .op_title span {
    position: relative;
    display: inline-block;
    background-color: #EBEBE3;

    letter-spacing: 1px;
}
.order_process .op_title_block .op_title span.s_title {
    padding: 0 15px;
    color: #BE9872;

    font-family: 'LettrGothic-Bold';

    cursor: pointer;
}
.order_process .op_title_block .op_title span.s_descr {
    display: none;

    font-family: 'LettrGothic';
    font-size: 10px;
}

.order_process .op_title_block .step_1 { width: 33%; }
.order_process .op_title_block .step_2 { width: 33%; }
.order_process .op_title_block .step_3 { width: 33%; }

.order_process .op_title_block.step_1 .step_1 span.s_title { color: black; }
.order_process .op_title_block.step_2 .step_2 span.s_title { color: black; }
.order_process .op_title_block.step_3 .step_3 span.s_title { color: black; }

.order_process .op_title_block.step_1 .step_1 span.s_descr { display: inline-block; }
.order_process .op_title_block.step_2 .step_2 span.s_descr { display: inline-block; }
.order_process .op_title_block.step_3 .step_3 span.s_descr { display: inline-block; }


/* ***************************** PRODUCTS ********************************** */

.order_process .op_product {
    position: relative;
    height: 105px;
    padding: 15px;
    margin-top: 15px;
    color: #4F4F4F;
    background-color: #DFDFD8;
    font-size: 12px;
    font-family: 'LettrGothic';
}
.order_process .op_product .prod_image {
    float: left;
    width: 135px;
    height: 105px;
    background-color: #EBEBE3;
    margin-right: 15px;
    position: relative;
}

.order_process .op_product .prod_image img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.order_process .op_product .prod_header {
    float: left;
    margin-right: 15px;
}
.order_process .op_product .prod_header div {
    margin-bottom: 3px;
    height: 15px;
}

.order_process .op_product .prod_details {
    float: left;
    font-family: 'LettrGothic-Bold';
    color: #BE9872;
}
.order_process .op_product .prod_details div {
    margin-bottom: 3px;
    height: 15px;
}

.order_process .op_product .prod_kol {
    position: absolute;
    width: 135px;
    height: 55px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.order_process .op_product .prod_kol_1 {
    float: left;
    width: 65px;
    padding-top: 20px;

    text-align: center;
}

.order_process .op_product .prod_kol_2 {
    float: left;
    width: 52px;
    height: 44px;
    padding-top: 8px;

    font-family: 'LettrGothic-Bold';
    background-color: #ebebe3;
    color: #be9872;

    text-align: center;
    font-size: 32px;
}

.order_process .op_product .prod_kol_3 {
    float: left;
    width: 16px;
    padding-top: 13px;
}
.order_process .op_product .prod_kol_3 a.small_button { margin-top: -1px; width: 13px; height: 13px; padding: 0; font-size: 14px; line-height: 16px; float: left; }

.order_process .op_product .prod_price {
    position: absolute;
    width: auto;
    left: 785px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 30px;
}
.order_process .op_product .sum_title {
    color: #4F4F4F;
}


.order_process .op_product .prod_del {
    position: absolute;
    top: 15px;
    right: 15px;
    float: right;
    width: 50px;
}
.order_process .op_product .prod_del a.small_button { margin-top: 0px; }


/* ***************************** PRODUCTS FOOTER ********************************** */


.order_process .op_products_footer .prod_promo {
    float: left;
    width: 150px;
}

.order_process .op_products_footer .prod_promo div {
    font-family: 'LettrGothic';
    font-size: 12px;
    letter-spacing: 2px;

    margin-top: 10px;
    color: #BE9872;
}
.order_process .op_products_footer .prod_promo input[type=text] {
    width: 134px;
    margin: 22px 0 28px 0;
}

.order_process .op_products_footer .prod_sum {
    float: right;
    width: 330px;
}
.order_process .op_products_footer .prod_sum .prod_sum_block {
    float: right;
    padding: 6px 15px 2px 0;
    width: 315px;
}
.order_process .op_products_footer .prod_sum_1 { border-bottom: 1px solid #cbb194; }
.order_process .op_products_footer .prod_sum_2 { border-bottom: 1px solid #cbb194; }

.order_process .op_products_footer .sum_title { letter-spacing: 2px; }
.order_process .op_products_footer .prod_sum_3 .sum_value { color: black; }

.order_process .op_products_footer .prod_sum_4 { margin-top: 15px; }


/* ******************************** PERSONAL DATA ************************************ */

/* ----------------- NAME -------------------*/

.order_process .op_block {
    min-height: 50px;
    border-top: 1px solid #cbb194;
    font-family: "LettrGothic";
    font-size: 13px;
}
.order_process .op_block:first-child { border-top: none; }

.order_process .op_block .op_block_right {
    float: right;
    width: 330px;
    margin-top: 30px;
}

.order_process .op_block .op_title,
.order_process .op_block .op_value,
.order_process .op_block .op_nodata
{
    padding: 4px 0;
}
.order_process .op_block .op_title { color: #be9872; }
.order_process .op_block .op_nodata {
    background-color: #dadad3;
    font-family: "LettrGothic-Bold";
    display:none;
    padding: 2px 0 1px 5px;
}
.order_process .op_block.nodata { border-top: 1px solid #ff3728; }
.order_process .op_block.nodata .op_nodata { display: block; }
.order_process .op_block.nodata .op_title { display: none; }
.order_process .op_block.nodata .op_value { display: none; }


/* ---------------- ADDRESS --------------- */


.order_process .op_address_block {
    padding-top: 25px;
    min-height: 30px;
    border-top: 1px solid #cbb194;

    font-family: "LettrGothic";
    font-size: 13px;
}
.order_process .op_address_block:first-child { border-top: none; padding-top: 0px; }

.order_process .op_address_block .op_address_right { float: right; max-width: 100px;}
.order_process .op_address_block .op_title { padding: 4px 0; color: #be9872; }
.order_process .op_address_block             .op_value { padding: 4px 0; color: #7C7C7C; }
.order_process .op_address_block.op_selected .op_value { color: black; }

.order_process .op_address_block a.op_address_check {
    width: 6px;
    padding: 1px 4px 0;
    text-align: center;
}
.order_process .op_address_block a.op_address_check span {
    display: none;
    background-color: black;
    width: 6px;
    height: 7px;
    margin-top: 3px;
}
.order_process .op_address_block.op_selected a.op_address_check span { display: inline-block; }

/* ---------------- CREDIT CARD --------------- */

.order_process .op_credit_card_block {
    clear: both;
    height: 34px;
    margin-bottom: 5px;
}

.order_process .op_credit_card_block .op_card_title {
    font-size: 12px;
    color: #be9872;
}

.order_process .op_credit_card_block .op_card_input {
    float: right;
    width: 330px;
}
#credit_card_num, #credit_card_name { width: 314px; }
#credit_card_cv2 { width: 40px; }
#credit_card_month { width: 30px; margin-right: 5px; }
#credit_card_year { width: 40px; }


.order_process .op_credit_card_block a.small_button { float: none; display: inline-block; }

/* ********************************************** ORDER COMPLETE *************************************************/

.order_process .op_complete_block { font-family: "LettrGothic-Bold"; text-align: center; line-height: 1.0; }

.order_process .op_complete_block .block-1 { font-size: 28px; color: #BE9872; }
.order_process .op_complete_block .block-2 { margin-top: 12px; font-family: LettrGothic; font-size: 12px; color: #BE9872; }
.order_process .op_complete_block .block-3 { margin-top: 80px; font-size: 18px; line-height: 1.1; color: #5C5C56; }

.order_process .op_complete_block .block-3 a { color: #BE9872; text-decoration: none; }
.order_process .op_complete_block .block-3 a:hover { color: #5C5C56; }
/* ********************************************** MEDIA *************************************************/


@media only screen and (max-width: 990px)
{
    /* COMMON */
    .order_process .op_footer { width: 100%; }
    .order_process .op_block .op_block_right { width: 100%; }

    /* PRODUCTS */
    .order_process .op_product { height: 200px; }
    .order_process .op_product .prod_kol { float: left; margin: 0; }
    .order_process .op_product .prod_kol .prod_kol_1 { padding: 0 33px 0 0; text-align: left; }
    .order_process .op_product .prod_price { margin: 0px; width: 220px;}
    .order_process .op_product .prod_price .sum_title { margin: 4px 69px 0 0; text-align: left; }
    .order_process .op_product .prod_del { top: 200px; }



    .order_process .op_products_footer .prod_promo { width: 100%; }
    .order_process .op_products_footer .prod_promo div { margin-top: 10px; float: left; text-align: right; width: 243px; }
    .order_process .op_products_footer .prod_promo input[type="text"] { margin: 10px 0 15px; width: 123px; float: right; }
    .order_process .op_products_footer .prod_promo a.brown_button { margin: 0 0 15px 0; clear: both; }

    .order_process .op_products_footer .prod_sum { width: 100%; }
    .order_process .op_products_footer .prod_sum .prod_sum_block { width: 385px; }
    .order_process .sum_value { width: 123px; }


    /* CREDIT CARD */
    .order_process .op_credit_card_block .op_card_input { width: 200px; }
    #credit_card_num, #credit_card_name { width: 200px; }

    /* ORDER COMPLETE */
    .order_process .op_complete_block .block-1 { font-size: 18px; }
}

.order_page{
    -webkit-transition: opacity 200ms cubic-bezier(0.795, 0.075, 0.205, 0.900);
    -moz-transition: opacity 200ms cubic-bezier(0.795, 0.075, 0.205, 0.900);
    -ms-transition: opacity 200ms cubic-bezier(0.795, 0.075, 0.205, 0.900);
    -o-transition: opacity 200ms cubic-bezier(0.795, 0.075, 0.205, 0.900);
    transition: opacity 200ms cubic-bezier(0.795, 0.075, 0.205, 0.900); /* custom */
}

.product_list{
    opacity: 1;
    display: block;
}

.edit_bill_to{
    opacity: 0;
    display: none;
}

.edit_ship_to{
    opacity: 0;
    display: none;
}

.payments{
    opacity: 0;
    display: none;
}



/* ***************************** POPUP ********************************** */

#personal_popup.pc_popup {
    /* display: none; */
    width: 360px;

    z-index: 999;
    position: absolute;
}

#personal_popup.pc_popup .pc_popup_block {
    border-top: 1px solid #DFDFD8;
    border-bottom: 1px solid #D8D8D1;
    border-left: 1px solid #D9D9D1;
    border-rigth: 1px solid #D9D9D1;
    background-color: #DADAD3;

    min-height: 50px;
    padding: 15px;

    box-shadow: 0px 0px 50px 10px #C2BFB4;
}

#personal_popup.pc_popup .pc_popup_slider {
    background-image: url('../img/auth_slider.png');
    position: relative;

    top: -4px;
    width: 53px;
    height: 26px;
    margin: 0 auto;

    cursor: pointer;
}

#personal_popup.pc_popup .pc_popup_slider:hover {
    top: -8px;
}

#personal_popup.pc_popup a.brown_button {
    float: right;
}
#personal_popup.pc_popup .brown_button {
    float: right;
}

#personal_popup.pc_popup .pc_birthday_title {
    font-size: 12px;
    color: #BE9872;
    letter-spacing: 2px;
}

#personal_popup.pc_birthday_title {
    margin: 20px 0 0 0;
}

#personal_popup.pc_popup .pc_birthday input[type=text].pc_birth_day,
#personal_popup.pc_popup .pc_birthday input[type=text].pc_birth_month {
    width: 35px;
    margin-right: 5px;
    margin-bottom: 0;
}

#personal_popup.pc_popup .pc_birthday input[type=text].pc_birth_year {
    width: 54px;
    margin-bottom: 0;
}

#personal_popup.pc_popup .pc_save {
    margin-top: 10px;
}

#personal_popup{
    right: 0;
    top: 45px;
}

#phone_popup {
    left: -20px;
    top: 200px;
}

#birthday_popup {
    left: -20px;
    top: 235px;
}

#add_adress_popup{
    margin: 0 auto;

    /* position: absolute; */
    left: 0;
    right: 0;
    top: 35px;
}

#personal_popup input[type=text] {
    width: 312px;
    height: 30px;
    padding: 1px 0 0 6px;
    margin-bottom: 5px;
    background-color: #DFDFD8;
    color: black;
    border: 5px solid #BE9872;
    font-family: LettrGothic-Bold;
    font-size: 16px;
}