/* ***************************** COMMON ********************************** */

#personal_cabinet {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 60px;
}

#personal_cabinet label {
    letter-spacing: 2px;
    padding-left: 10px;
    font-size: 12px;
}

#personal_cabinet a.brown_button {
    display: block;
    height: 18px;
    padding: 2px 5px 0 5px;

    background-color: #D2BAA1;
    color: #E9E9E1;

    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#personal_cabinet .brown_button {
    display: block;
    height: 20px;
    padding: 2px 5px 0 5px;

    background-color: #D2BAA1;
    color: #E9E9E1;

    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border:none;
    border-radius:0px;
    cursor: pointer;
}


#personal_cabinet .small_button {
    display: block;
    float: right;
    height: 14px;
    padding: 1px 5px 0 5px;
    margin-top: 4px;
    margin-right: -1px;

    color: #CBB194;
    border: 1px solid #CBB194;

    text-transform: uppercase;
    font-family: LettrGothic;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
}

#personal_cabinet .small_button:hover {
    color: #E9E7DE;
    background-color: #CBB194;
    border: 1px solid #CBB194;
}

#personal_cabinet input[type=text] {
    width: 312px;
    height: 30px;
    padding: 1px 0 0 6px;
    margin-bottom: 5px;
    background-color: #DFDFD8;
    color: black;
    border: 5px solid #BE9872;
    font-family: LettrGothic-Bold;
    font-size: 16px;
}

#personal_cabinet input::-moz-placeholder {
    color: #BE9872;
    font-family: LettrGothic-Bold;
    font-size: 1.1em;
}

#personal_cabinet input::-webkit-input-placeholder {
    color: #BE9872;
    font-family: LettrGothic-Bold;
    font-size: 1.1em;
}

#personal_cabinet .pc_subscribe {
    padding: 20px 0 0 0;
}

#personal_cabinet .big-margin {
    margin-top: 25px;
}

/* ***************************** POPUP ********************************** */

#personal_cabinet .pc_popup {
    display: none;
    width: 360px;

    z-index: 999;
    position: absolute;
}

#personal_cabinet .pc_popup .pc_popup_block {
    border-top: 1px solid #DFDFD8;
    border-bottom: 1px solid #D8D8D1;
    border-left: 1px solid #D9D9D1;
    border-rigth: 1px solid #D9D9D1;
    background-color: #DADAD3;

    min-height: 50px;
    padding: 15px;

    box-shadow: 0px 0px 50px 10px #C2BFB4;
}

#personal_cabinet .pc_popup .pc_popup_slider {
    background-image: url('../img/auth_slider.png');
    position: relative;

    top: -4px;
    width: 53px;
    height: 26px;
    margin: 0 auto;

    cursor: pointer;
}

#personal_cabinet .pc_popup .pc_popup_slider:hover {
    top: -8px;
}

#personal_cabinet .pc_popup a.brown_button {
    float: right;
}
#personal_cabinet .pc_popup .brown_button {
    float: right;
}

#personal_cabinet .pc_popup .pc_birthday_title {
    font-size: 12px;
    color: #BE9872;
    letter-spacing: 2px;
}

#personal_popup .pc_birthday_title {
    margin: 20px 0 0 0;
}

#personal_cabinet .pc_popup .pc_birthday input[type=text].pc_birth_day,
#personal_cabinet .pc_popup .pc_birthday input[type=text].pc_birth_month {
    width: 35px;
    margin-right: 5px;
    margin-bottom: 0;
}

#personal_cabinet .pc_popup .pc_birthday input[type=text].pc_birth_year {
    width: 54px;
    margin-bottom: 0;
}

#personal_cabinet .pc_popup .pc_save {
    margin-top: 10px;
}

#personal_popup {
    left: -20px;
    top: 40px;
}

#phone_popup {
    left: -20px;
    top: 200px;
}

#birthday_popup {
    left: -20px;
    top: 235px;
}

#add_adress_popup{
    margin: 0 auto;

    /* position: absolute; */
    left: 0;
    right: 0;
    top: 35px;
}

/* ***************************** TITLE ********************************** */

#personal_cabinet .pc_title {
    font-family: 'LettrGothic-Bold';

    border-bottom: 1px solid #cbb194;
    text-align: center;
}

#personal_cabinet .pc_title span {
    position: relative;
    display: inline-block;
    padding: 3px 15px;
    top: 29px;

    background-color: #EBEBE3;
    color: #be9872;

    font-size: 1.2em;
}

/* ******************************* CART ********************************* */

#personal_cabinet .pc_cart_block {
    text-align: center;
    margin: 50px 0 25px 0;
}

#personal_cabinet .cart_link  {
    display: inline-block;
    width: 150px;
    height: 107px;
    background: url('../img/triangle-empty.png') no-repeat;
    background-position: 0px -107px;
    color: black;
    text-decoration: none;
}

#personal_cabinet .cart_link:hover {
    color: #be9872;
}

#personal_cabinet .cart_link.basket_empty {
    background-position: 0px 0px;
    cursor: default;
}

#personal_cabinet .cart_link.basket_empty:hover {
    color: black;
}

#personal_cabinet .cart_link :hover > span {
    color: #be9872;
}

#personal_cabinet .cart_link  .title-basket {
    display: block;
    margin-top: -6px;

    font-family: "LettrGothic-Bold";
    font-size: 1.1em;
    text-align: center;
}

#personal_cabinet .cart_link  .number {
    display: block;
    margin-top: 8px;
    font-family: "LettrGothic-Bold";
    font-size: 2em;
    text-align: center;
}

/* ****************************** MAIN *********************************** */

#personal_cabinet .pc_main {
    width: 100%;
    position: relative;
}

#personal_cabinet .pc_main .pc_title {
    margin-bottom: 10px;
}

#personal_cabinet .pc_main .pc_title span {
    top: 12px;
    font-size: 0.8em;
    letter-spacing: 2px;
}

#personal_cabinet .pc_main .pc_block {
    border-bottom: 1px solid #cbb194;
    margin-right: 15px;
    font-family: "LettrGothic";
    font-size: 13px;
}

#personal_cabinet .pc_main .pc_block.no-border {
    border: none;
}

#personal_cabinet .pc_main .pc_block > div, #personal_cabinet .pc_main .pc_block > span div {
    padding: 4px 0 4px 0;
    min-height: 16px;
}

#personal_cabinet .pc_main .pc_block .pc_right {
    float: right;
}

#personal_cabinet .pc_main .pc_empty {
    display: none;

    color: #dadad3;

    font-family: "LettrGothic-Bold";
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 1;
}

#personal_cabinet .pc_main .pc_empty span {
    cursor: pointer;
}

#personal_cabinet .pc_main .pc_empty span:hover {
    color: #BE9872;
}

/* ------------- MAIN LEFT ------------- */

#personal_cabinet .pc_main .pc_personal {
    position: relative;
    float: left;
    width: 34%;
}

#personal_cabinet .pc_main .pc_personal a.brown_button {
    margin-top: 10px;
}
#personal_cabinet .pc_main .pc_personal .brown_button {
    margin-top: 10px;
}

#personal_cabinet .pc_main .pc_personal a.small_button {
    display: none;
}

#personal_cabinet .pc_main .pc_personal .pc_block.pc_nodata {
    border-bottom: 1px solid #97978D;
}

#personal_cabinet .pc_main .pc_personal .pc_block.pc_nodata a.small_button {
    display: block;
}

#personal_cabinet .pc_main .pc_personal .pc_block.pc_nodata .title {
    color: #5C5C56;
}

/* ------------- MAIN CENTER ------------- */

#personal_cabinet .pc_main .pc_delivery {
    float: left;
    width: 32%;
}

#personal_cabinet .pc_main .pc_delivery.empty .pc_empty {
    display: block;
}

#personal_cabinet .pc_main .pc_delivery a.brown_button {
    margin-top: 40px;
}

#personal_cabinet .pc_main .pc_delivery .brown_button {
    margin-top: 40px;
}

/* ------------- MAIN RIGHT ------------- */

#personal_cabinet .pc_main .pc_history {
    float: left;
    width: 33%;
}

#personal_cabinet .pc_main .pc_history.empty .pc_empty {
    display: block;
}

#personal_cabinet .pc_main .pc_history .pc_block .pc_descr {
    float: right;
    margin-left: 15px;
}

#personal_cabinet .pc_main .pc_history .pc_block.detailed {
    margin-top: 25px;
    margin-bottom: 25px;
}

#personal_cabinet .pc_main .pc_history .pc_block          .pc_details {
    display: none;
}

#personal_cabinet .pc_main .pc_history .pc_block.detailed .pc_details {
    display: block;
}

#personal_cabinet .pc_main .pc_history .pc_block .pc_headline {
    cursor: pointer;
}

#personal_cabinet .pc_main .pc_history .pc_block .pc_headline > div {
    color: #BE9872;
}

#personal_cabinet .pc_main .pc_history .pc_block .pc_headline:hover > div {
    color: black;
}

#personal_cabinet .pc_main .pc_history .pc_block .pc_details .pc_name {
    color: #97978D;
}

#personal_cabinet .pc_main .pc_history .pc_block .pc_headline > div>a {
    color: #BE9872;
    text-decoration:none;
}
#personal_cabinet .pc_main .pc_history .pc_block .pc_headline:hover > div>a {
    color: black;
}
#personal_cabinet .pc_main .pc_history .pc_block .pc_headline > div>a:hover {
    text-decoration:underline;
}

.choise{
    color: #dadad3;
    text-decoration: none;
}

.choise:hover{
    color: #be9872;
}
/* -------------------------------------------------- MEDIA -------------------------------------------------------- */

@media only screen and (max-width: 990px) {
    #personal_cabinet .pc_main .pc_personal {
        width: 99%;
    }

    #personal_cabinet .pc_main .pc_delivery {
        width: 99%;
    }

    #personal_cabinet .pc_main .pc_history {
        width: 99%;
    }

    #personal_cabinet .pc_popup {
        width: 430px;
    }
}


/**-----------------------------------------------------off_vm_fields*/


.user_info_fset{
    display: none;
}

.invalid {
    border-color: #f00;
    background-color: #ffd;
    color: #000;
}

label.invalid {
    background-color: #fff;
    color: #f00;
}