.content_slider {
    width: 100%;
    position: relative;
    margin: 0 0 25px 0;
}

.content_slider .page_number {
    text-align: right;
    padding: 0 50px 0 0;
    margin: 0;
    color: #808285;
    display: none;
}

.content_slider .page_number b {
    color: black;
}

.content_slider .arrow {
    width: 19px;
    height: 39px;
    position: absolute;
    margin-top: -18px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.content_slider .left {
    left: 0;
    background: url("../img/prod_img_sl_left_arr.png") 0px 0px;
}

.content_slider .right {
    right: 0;
    background: url("../img/prod_img_sl_right_arr.png") 0px 0px;
}

.content_slider .arrow:hover {
    background-position: -19px 0px;
}

.content_slider .hold {
    background-position: 19px 0px !important;
    cursor: default;
}

.content_slider .slider_main_cont {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.content_slider .slider_main_cont .content_band {
    width: 100000px;
    position: relative;
    top: 0px;
    left: 0px
}

.content_slider .slider_main_cont .content_band .item {
    float: left;
}

.content_slider .slider_main_cont .content_band .item .photo_cont {
    overflow: hidden;
    height: 450px;
    text-align: center;
}

.content_slider .slider_main_cont .content_band .item .photo_cont img {
    max-width: none;
    max-height: none;

}

.content_slider .slider_main_cont .content_band .item p.description {
    font-style: italic;
    width: 50%;
    position: relative;
    left: 50%;
    top: 0;
}

.specs .size_wrap, .specs .specs_color_wrap, .specs .size_select {
    border-color: rgb(218, 218, 211);
}

.specs .specs_color_title {
    border-color: rgb(190, 152, 114);
}

.color_select_items_cont {
    height: 0px;
    opacity: 0;
}

.specs .size_wrap, .specs .specs_color_wrap {
    z-index: auto;
}

.disNone {
    display: none;
}

.topArrow {
    top: 225px;
}

.content_band .item {
    width: 900px;
}

.content_band {
    width: 1980px;
}

.content_band .item .photo_cont {
    width: 990px;
    height: 450px;
}

.sl_p_cont {
    text-align: center;
    margin: 10px 0;
    position: relative;

}

.sl_pointer {
    width: 11px;
    height: 11px;
    background: url("../img/prod_img_slide_count.png");
    display: inline-block;
    background-position: 11px 0px;
    cursor: pointer;
    margin: 0 5px;
}

.sl_p_active {
    background-position: 0px 0px;
    cursor: default;
}

.slider_img_zoom {
    border: 10px solid white;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 150px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    background-color: #ebebe3;
    cursor: none;
    /* display: block !important;*/
}

.slider_img_zoom .sw_z {
    width: 100%;
    height: 100%;
    border-radius: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;

    overflow: hidden;

    background-image: -webkit-linear-gradient(120deg, rgba(0, 0, 0, 0.12) 16%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.77) 87%);
    background-image: -moz-linear-gradient(120deg, rgba(0, 0, 0, 0.12) 16%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.77) 87%);
    background-image: -o-linear-gradient(120deg, rgba(0, 0, 0, 0.12) 16%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.77) 87%);
    background-image: -ms-linear-gradient(120deg, rgba(0, 0, 0, 0.12) 16%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.77) 87%);

    -webkit-box-shadow: rgba(0, 0, 0, 0.34902) 1px 1px 2px 1px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.34902) 1px 1px 2px 1px inset;
    box-shadow: rgba(0, 0, 0, 0.34902) 1px 1px 2px 1px inset;

}

.slider_img_zoom img {
    max-width: none;
    /*display:none;*/
}
