
* {
    transition: padding 0.3s ease 0s, margin 0.3s ease 0s, width 0.3s ease 0s, height 0.3s ease 0s, opacity 0.3s ease 0s, color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

body {
    background: none repeat scroll 0 0 #EBEBE3;
    color: #000000;
    font-family: 'LettrGothic';
    font-size: 14.6px;
}

.wrapper {
    margin: 0 auto;
    width: 990px;
}

h1 {
    color: #BE9872;
    font-family: 'LettrGothic-Bold';
    font-size: 6em;
    font-weight: normal;
    text-transform: uppercase;
}

.bg_h1 {
    background: none repeat scroll 0 0 #EBEBE3;
    display: inline;
    padding: 0 15px;
}

h1 a {
    color: #BE9872;
    text-decoration: none;
}

h1 a:hover {
    color: #A18460;
}

h2 {
    color: #BE9872;
    font-family: 'LettrGothic-Bold';
    font-size: 1.2em;
    font-weight: normal;
}

header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 990px;
    height: 370px;
    z-index: 10000;
    background: #EBEBE3;
    -webkit-transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840);
    -moz-transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840);
    -ms-transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840);
    -o-transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840);
    transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840); /* custom */
}

header * {
    -webkit-transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840);
    -moz-transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840);
    -ms-transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840);
    -o-transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840);
    transition: all 300ms cubic-bezier(0.620, 0.120, 0.290, 0.840); /* custom */
}

.logo {
    background: url("../images/logo_new.png") no-repeat 50% 50%;
    display: block;
    padding: 48px 0 0 0;
    width: 436px;
    height: 175px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 130px;
}

.logo:hover {
    /*background: url("../img/logo-back.gif") no-repeat scroll center center transparent;*/
}

.address_h {
    color: #5C5C56;
    float: left;
    margin: 24px 0 0 15px;
    text-transform: uppercase;
    position: relative;
}

.f_header {
    border: 1px solid #696963;
    color: #696963;
    display: inline-block;
    height: 18px;
    padding: 2px 0 2px 8px;
    position: relative;
    text-decoration: none;
    top: -5px;
    width: 14px;
}

.vk_header {
    border: 1px solid #696963;
    color: #696963;
    display: inline-block;
    height: 18px;
    margin-left: -5px;
    padding: 2px 0 2px 3px;
    position: relative;
    text-decoration: none;
    top: -5px;
    width: 19px;
}

.f_header .mobile, .vk_header .mobile {
    display: none;
}

.f_header:hover {
    background: none repeat scroll 0 0 #4192CA;
    border-color: #4192CA;
    color: #000000;
}

.vk_header:hover {
    background: none repeat scroll 0 0 #4192CA;
    border-bottom-color: #4192CA;
    border-right-color: #4192CA;
    border-top-color: #4192CA;
    color: #000000;
}

.address_text {
    bottom: 5px;
    font-size: 0.9em;
    left: 10px;
    position: relative;
}

.address_phone {
    bottom: 5px;
    font-family: 'LettrGothic-Bold';
    font-size: 0.9em;
    left: 60px;
    position: relative;
}

.address_phone .mobile {
    display: none;
}

/********************************* BASKET **********************************/

.basket_h, .basket_h_empty {
    color: #5C5C56;
    font-family: 'LettrGothic-Bold';
    margin-right: -422px;
    position: absolute;
    right: 50%;
    text-transform: uppercase;
    top: 0;
    width: 160px;
    z-index: 500;
}

.basket_h .basket_empty {
    opacity: 0.5;
    cursor: default;
}

.basket_h .title-basket {
    color: #BE9872;
    left: 0;
    margin: 25px 0 0;
    position: absolute;
    z-index: 10;
}

.basket_h .enter {
    cursor: pointer;
    left: 0;
    margin: 25px 0 0 103px;
    position: absolute;
    z-index: 10;
}

.basket_h .my_cabinet {
    cursor: pointer;
    display: none;
    left: 0;
    margin: 25px 0 0 158px;
    position: absolute;
    z-index: 10;
    text-decoration: none;
    color: #5C5C56;
}

.basket_h .number {
    background-image: url("../img/triangle.png");
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    height: 27px;
    width: 74px;
    padding: 25px 0 0;
    margin-left: -35px;

    text-align: center;
    z-index: 5;
    color: white;
}

.basket_h.logged {
    width: 255px;
    margin-right: -411px;
}

.basket_h.logged .number {
    margin-left: -82px;
}

.basket_h.logged .enter {
    font-family: 'LettrGothic';
}

.basket_h.logged .my_cabinet {
    display: block;
}

/*************************************************************************/

.head_search {
    position: relative;
}

.search {
    position: absolute;
    top: 20px;
    right: 0px;
}

.search_focus {
}

.search_input {
    background-color: transparent;
    border-color: -moz-use-text-color -moz-use-text-color #9C9C9C;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #5C5C56;
    font-family: 'LettrGothic-Bold';
    font-size: 12px;
    outline: medium none;
    text-transform: uppercase;
    width: 85px;
}

.search_but {
    border: medium none;
    height: 13px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 13px;
}

.title {
    color: #CEA580;
}

.main {
    margin-top: 0;
}

.main_slider {
    margin-top: 15px;
    width: 100%;
}

.main_bottom {
    clear: both;
    height: 450px;
    margin-top: 30px;
    width: 100%;
}

.main_bottom_first, .main_bottom_second, .main_bottom_third {
    float: right;
    height: 420px;
    width: 32%;
}

.main_bottom_first {
    margin-right: 18px;
}

.main_news_title {
    border-bottom: 1px solid #BE9872;
    color: #BE9872;
    font-size: 0.8em;
    height: 6px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.main_bottom_first {
    background: url("../images/acc.jpg") repeat scroll 0 0 transparent;
    margin-top: 16px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.main_bottom_first > h2 {
    color: #000000;
    font-size: 1.8em;
}

.main_bottom_first > span {
    display: block;
    font-size: 1.8em;
}

.main_bottom_first > p > a {
    color: #000000;
    display: block;
    font-size: 1.2em;
    margin: 5px 0;
    text-decoration: none;
}

.main_news_title > span {
    background: none repeat scroll 0 0 #EBEBE3;
    padding: 0 14px;
}

.main_bottom_second {
    border-top: 1px solid #BE9872;
    margin: 16px 18px 0 0;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.main_bottom_second > h2 {
    color: #000000;
    font-size: 1.8em;
}

.main_bottom_second > span {
    display: block;
    font-size: 1.8em;
}

.main_bottom_second > p > a {
    color: #000000;
    display: block;
    font-size: 1.2em;
    margin: 5px 0;
    text-decoration: none;
}

.main_bottom_third {
    background: url("../images/acc.jpg") repeat scroll 0 0 transparent;
    margin-top: 16px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.main_bottom_third > h2 {
    color: #000000;
    font-size: 1.8em;
}

.main_bottom_third > span {
    display: block;
    font-size: 1.8em;
}

.main_bottom_third > p > a {
    color: #000000;
    display: block;
    font-size: 1.2em;
    margin: 5px 0;
    text-decoration: none;
}

.mobile_menu {
    display: none;
}

.motorcycle {
    border-bottom: 1px solid #CBB194;
    font-family: 'LettrGothic-Bold';
    font-size: 1.2em;
    /* margin-top: 10px; */
    text-align: center;
    text-transform: uppercase;
    padding-top: 225px;
}

.motorcycle span {
    background-color: #EBEBE3;
    padding: 0 15px;
    position: relative;
    top: 11px;
}

.product_title {
    border-bottom: 5px solid #BE9872;
    height: 50px;
    text-align: center;
    width: 100%;
}

.product_model {
    margin-top: 40px;
    text-align: center;
}

.product_model span {
    padding: 0 15px;
    position: relative;
    top: 45px;
}

.breadcrumbs {
    color: #BE9872;
    font-family: 'LettrGothic-Bold';
    font-size: 14px;
    letter-spacing: 2px;
    margin: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.breadcrumbs > a {
    color: #BE9872;
    text-decoration: none;
}

.breadcrumbs > a:hover {
    color: #000000;
}

.second_main_menu {
    border-bottom: 1px solid #CBB194;
    border-top: 1px solid #CBB194;
    margin-top: 5px;
    padding: 3px 0 0;
}

.second_main_menu > ul {
    text-align: center;
}

.second_main_menu > ul > li {
    display: inline-block;
    margin: 0 25px;
}

.second_main_menu > ul > li > a {
    color: #000000;
    font-family: 'LettrGothic-Bold';
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.second_main_menu > ul > li > a:hover {
    color: #BE9872;
}

.catalog_block {
    text-align: center;
    width: 990px;
}

.catalog_item {
    float: left;
    height: 325px;
    width: 33%;
}

.catalog_item_hover, .catalog_item_hover a {
    color: #BE9872;
    transition: color 0.2s ease 0s;
}

.catalog_item a {
    text-decoration: none;
}

.catalog_item a:hover {
    color: #000000;
}

.catalog_item a img {
    height: 195px;
    text-decoration: none;
    width: auto;
}

.catalog_item_title {
    color: #000000;
    display: block;
    font-family: 'LettrGothic-Bold';
    text-decoration: none;
    text-transform: uppercase;
}

.catalog_item_model {
    color: #000000;
    display: block;
    font-family: 'LettrGothic';
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog_item_price {
    font-family: 'LettrGothic-Bold';
    font-size: 2em;
}

.vm-pagination-top {
    position: relative;
    width: 100%;
}

.totalPages {
    color: #5C5C56;
    position: absolute;
    right: 123px;
    text-align: center;
}

.totalPages-bottom {
    display: none;
}

.vm-pagination-top .pagination-prev {
    margin-right: 35px;
}

.vm-pagination-top .pagination-next {
    margin-right: 0;
}

.vm-pagination-top .pagination-prev span.pagenav, .vm-pagination-top .pagination-next span.pagenav {
    color: #BBBBBB;
    text-transform: uppercase;
}

.vm-pagination-top .pagination-prev a.pagenav, .vm-pagination-top .pagination-next a.pagenav {
    color: #AB8661;
    text-decoration: none;
    text-transform: uppercase;
}

.vm-pagination-top .pagination-prev a.pagenav:hover, .vm-pagination-top .pagination-next a.pagenav:hover {
    color: #000000;
}

.vm-pagination-top > ul {
    float: right;
}

.vm-pagination-top > ul > li > a.pagenav {
    color: #AB8661;
    text-decoration: none;
    text-transform: uppercase;
}

.vm-pagination-top > ul > li > a.pagenav:hover {
    color: #000000;
}

.all_category_items {
    color: #AB8661;
    display: block;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
}

.all_category_items:hover {
    color: #000000;
}

.vm-pagination-top ul li {
    display: none;
}

.pagination-prev, .pagination-next {
    display: inline !important;
}

.vm-pagination-bottom {
    text-align: center;
    width: 100%;
}

.vm-pagination-bottom .pagination-prev {
    margin-right: 10px;
}

.vm-pagination-bottom .pagination-next {
    margin-left: -4px;
}

.vm-pagination-bottom .pagination-prev span.pagenav, .vm-pagination-bottom .pagination-next span.pagenav {
    color: #BBBBBB;
    text-transform: uppercase;
}

.vm-pagination-bottom .pagination-prev a.pagenav, .vm-pagination-bottom .pagination-next a.pagenav {
    color: #AB8661;
    text-decoration: none;
    text-transform: uppercase;
}

.vm-pagination-bottom .pagination-prev a.pagenav:hover, .vm-pagination-bottom .pagination-next a.pagenav:hover {
    color: #000000;
}

.vm-pagination-bottom > ul > li {
    display: inline;
    margin-right: 14px;
}

.vm-pagination-bottom > ul > li > a.pagenav {
    color: #AB8661;
    text-decoration: none;
    text-transform: uppercase;
}

.vm-pagination-bottom > ul > li > a.pagenav:hover {
    color: #000000;
}

.goods {
    height: 173px;
    margin-top: 58px;
    text-transform: uppercase;
    width: 100%;
}

.goods .empty {
    border: 3px solid #DADAD3 !important;
    cursor: default !important;
    color: #dadad3 !important;
}

.goods .empty * {
    cursor: default !important;
}

.goods * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.specs, .price, .model {
    float: left;
    height: 100%;
    width: 33.33%;
}

.goods span {
    display: block;
}

.specs {
    font-family: 'LettrGothic-Bold';
    font-size: 17px;
    position: relative;
    text-transform: uppercase;
}

.size_wrap {
    -moz-box-sizing: border-box;
    border: 3px solid #DADAD3;
    cursor: pointer;
    height: 49px;
    position: relative;
    width: 100%;
}

.size_title {
    -moz-box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 11px 0 0 10px;
}

.size {
    border-left: 3px solid #DADAD3;
    cursor: pointer;
    float: right;
    height: 100%;
    position: relative;
    text-align: center;
    width: 49px;
}

.size_select_items_cont {
    border: 3px solid #BE9872;
    bottom: 43px;
    left: -3px;
    overflow: hidden;
    position: absolute;
}

.size_select_item {
    background-color: #EBEBE3;
    border-bottom: 3px solid #BE9872;
    line-height: 23px;
    padding-top: 9px;
}

.size_select_item:last-child {
    border: medium none;
}

.size_select_item:hover {
    color: #BE9872;
}

.size_selected {
    background: url("../img/size_arrow_up.png") no-repeat scroll 17px center transparent;
    height: 100%;
    padding-top: 11px;
    width: 100%;
}

.size_table_wrap {
    -moz-box-sizing: border-box;
    border: 3px solid #DADAD3;
    height: 35px;
    margin-top: -3px;
    width: 100%;
}

.size_table {
    float: left;
    font-family: 'LettrGothic';
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    padding: 7px 0 0 12px;
    width: 156px;
}

.size_table_value {
    border-bottom: 1px solid #DADAD3;
    float: left;
    font-family: 'LettrGothic';
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    width: 158px;
}

.size_table_value span {
    background: none repeat scroll 0 0 #EBEBE3;
    float: right;
    margin: 6px 0px 0 0;
    text-align: center;
    width: 40px;
}

.specs_color_wrap {
    border: 3px solid #DADAD3;
    cursor: pointer;
    height: 49px;
    margin-top: -3px;
    position: relative;
    width: 100%;
}

.specs_color_title {
    float: left;
    padding: 11px 0 0 10px;
}

.specs_color {
    height: 100%;
    position: relative;
    width: 100%;
}

.color_select_items_cont {
    border: 3px solid #BE9872;
    bottom: 43px;
    left: -3px;
    overflow: hidden;
    position: absolute;
    right: -3px;
}

.color_select_item {
    background-color: #EBEBE3;
    border-bottom: 3px solid #BE9872;
    line-height: 23px;
    padding: 10px;
    text-align: right;
    width: auto !important;
}

.color_select_item:last-child {
    border: medium none;
}

.color_select_item:hover {
    color: #BE9872;
}

.color_selected {
    height: 100%;
    padding: 11px 8px 8px;
    text-align: right;
    width: 100%;
}

.specs_details {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #EBEBE3;
    border: 3px solid #DADAD3;
    bottom: 0;
    cursor: pointer;
    height: 49px;
    margin-top: -3px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.specs_detail_span_title {
    bottom: 10px;
    padding: 12px 0 0 10px;
    position: absolute;
    width: 100%;
}

.specs_detail_span {
    bottom: 45px;
    font-family: 'LettrGothic';
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px 0 45px;
    position: absolute;
    text-transform: none;
}

.specs_detail_span ol {
    line-height: 20px;
}

.specs_detail_span ol li {
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

.price {
    font-family: 'LettrGothic-Bold';
    text-align: center;
    text-transform: uppercase;
}

.addtocart-button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: black;
    font-family: 'LettrGothic-Bold';
    font-size: 32px;
    font-weight: normal;
    outline: medium none;
    text-transform: uppercase;
    width: 100%;
}

.addtocart-button-catalog {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: black;
    display: none;
    font-family: 'LettrGothic';
    height: 25px;
    margin: 0 auto;
    outline: medium none;
    text-transform: uppercase;
    width: 75px;
}

.addtocart-button-catalog:hover {
    border: 1px solid #BE9872;
    color: #BE9872;
}

.addtocart-button:hover {
    color: #BE9872;
}

.price a {
    color: #000000;
    text-decoration: none;
}

.price_number {
    font-size: 92px;
    height: 80px;
    line-height: 70px;
    text-align: center;
}

.cp_button {
}

.price_buy {
    border: 5px solid #BE9872;
    height: 49px;
    margin: 21px auto 0 auto;
    width: 90%;
}

.price_wishlist {
    border-bottom: 5px solid #BE9872;
    border-left: 5px solid #BE9872;
    border-right: 5px solid #BE9872;
    height: 44px;
    margin: 0 auto;
    width: 90%;
}

.model {
    font-family: 'LettrGothic-Bold';
    text-transform: uppercase;
}

.model_wrap {
    -moz-box-sizing: border-box;
    border: 3px solid #DADAD3;
    height: 49px;
    position: relative;
    width: 100%;
}

.model_title {
    float: left;
    font-size: 17px;
    padding: 11px 0 0 10px;
}

.model_number {
    border-left: 3px solid #DADAD3;
    float: right;
    font-size: 17px;
    height: 100%;
    padding: 11px 10px;
    max-width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.model_code_wrap {
    border-bottom: 1px solid #A7A79E;
    height: 36px;
    width: 100%;
}

.model_code_title {
    background: none repeat scroll 0 0 #EBEBE3;
    color: #5C5C56;
    font-size: 12px;
    left: 140px;
    position: relative;
    text-align: center;
    top: 28px;
    width: 50px;
}

.model_code {
    padding: 13px 0 0;
    text-align: center;
    width: 100%;
}

.model_share_wrap {
    border-bottom: 1px solid #A7A79E;
    height: 10px;
    width: 100%;
}

.model_share_title {
    background: none repeat scroll 0 0 #EBEBE3;
    color: #5C5C56;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    width: 50px;
}

.soc_button_cur_prod {
    margin-top: 14px;
    text-align: center;
    width: 100%;
}

.soc_button_cur_prod a {
    border: 1px solid black;
    color: black;
    font-family: 'LettrGothic';
    font-size: 14px;
    font-weight: normal;
    margin: 0 4px;
    padding: 1px 3px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.soc_button_cur_prod a:first-child {
    margin-left: 0;
}

.soc_button_cur_prod a:last-child {
    margin-right: 0;
}

.soc_button_cur_prod a.fb:hover {
    background-color: #4192CA;
    border-color: #4192CA;
}

.soc_button_cur_prod a.vk:hover {
    background-color: #4192CA;
    border-color: #4192CA;
}

.soc_button_cur_prod a.tw:hover {
    background-color: #80CEC8;
    border-color: #80CEC8;
}

.soc_button_cur_prod a.pt:hover {
    background-color: #E75A57;
    border-color: #E75A57;
}

.bottom_slider {
    margin-top: 54px;
    width: 100%;
}

.footer {
    border-top: 1px solid #A7A79E;
    height: 210px;
    padding: 13px 0 0;
    width: 100%;
}

.f_staff {
    float: left;
    text-transform: uppercase;
    width: 165px;
}

.f_staff a {
    color: #5C5C56;
    display: block;
    font-family: 'LettrGothic-Bold';
    text-decoration: none;
}

.f_staff a:hover {
    color: #000000;
}

.f_motorcycle {
    float: left;
    text-transform: uppercase;
    width: 165px;
}

.f_motorcycle a {
    color: #5C5C56;
    display: block;
    font-family: 'LettrGothic-Bold';
    text-decoration: none;
}

.f_motorcycle a:hover {
    color: #000000;
}

.f_male {
    border: 1px solid #A7A79E;
    color: #000000 !important;
    height: 18px;
    margin-top: 15px;
    padding-bottom: 4px;
    padding-top: 2px;
    text-align: center;
    width: 22px;
}

.f_female {
    border-color: #A7A79E;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #000000 !important;
    height: 18px;
    padding-bottom: 4px;
    padding-top: 2px;
    text-align: center;
    width: 22px;
}

.f_male:hover {
    background-color: #4192CA;
    border-left-color: #4192CA;
    border-right-color: #4192CA;
    border-top-color: #4192CA;
}

.f_female:hover {
    background-color: #4192CA;
    border-color: #4192CA;
}

.f_line {
    background: none repeat scroll 0 0 #A7A79E;
    height: 1px;
    margin-top: 8px;
    width: 77px;
}

.f_nav_wrap {
    float: left;
    position: relative;
    text-align: center;
    width: 330px;
}

.f_nav a:hover {
    color: #BE9872;
}

.f_logo {
    margin-bottom: 18px;
}

.f_nav a {
    color: #000000;
    display: block;
    font-family: 'LettrGothic-Bold';
    text-decoration: none;
    text-transform: uppercase;
}

.f_contacts {
    float: left;
    width: 330px;
}

.subscribe {
    padding-left: 22px;
    width: 312px;
}

.subscribe > form > span {
    color: #BE9872;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#subscribe_input {
    background: url("../img/subscribe_input_bg.png") repeat-x scroll 0 0 transparent;
    border-color: #BE9872;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    color: #BE9872;
    display: block;
    float: left;
    font-family: 'LettrGothic-Bold';
    font-size: 16px;
    height: 24px;
    outline: medium none;
    padding-left: 5px;
    padding-top: 4px;
    width: 212px;
}

#__lpform_subscribe_input {
    max-height: 16px;
    vertical-align: top;
    position: absolute;
    top: 1402px;
    left: 1339.5px;
    z-index: 12;
}

.motorcycle span {
    cursor: pointer;
}

#__lpform_subscribe_input_numspan {
    position: absolute !important;
    visibility: visible !important;
    border: 0px !important;
    font-size: 9px !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    top: 1413px !important;
    left: 1352px !important;
    background-color: rgb(128, 128, 128);
    padding: 1px 2px !important;
    font-weight: bold !important;
    color: rgb(255, 255, 255) !important;
    cursor: default;
    line-height: 11px !important;
    max-width: 10px !important;
    z-index: 13 !important;
}

#subscribe_input::-moz-placeholder {
    color: #BE9872;
}

#subscribe_submit {
    background: none repeat scroll 0 0 #EBEBE3;
    border: 1px solid #A7A79E;
    color: #000000;
    font-family: 'LettrGothic-Bold';
    font-size: 10px;
    height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 90px;
}

#subscribe_submit:hover {
    border-color: #BE9872;
    color: #BE9872;
}

.feedback {
    border: 1px solid #A7A79E;
    color: #000000;
    display: block;
    float: right;
    font-family: 'LettrGothic-Bold';
    font-size: 0.8em;
    height: 20px;
    letter-spacing: 0.1em;
    padding-top: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 55px;
    width: 126px;
}

.feedback:hover {
    border-color: #BE9872;
    color: #BE9872;
}

.f_line2 {
    background: none repeat scroll 0 0 #A7A79E;
    clear: both;
    float: right;
    height: 1px;
    margin-top: 8px;
    width: 118px;
}

.f_address {
    clear: both;
    color: #5C5C56;
    float: right;
    margin-top: 70px;
    text-transform: uppercase;
}

.f_address_text {
    bottom: 5px;
    display: block;
    font-size: 0.9em;
    left: 48px;
    position: relative;
}

.f_address_phone {
    font-family: 'LettrGothic-Bold';
    font-size: 0.9em;
}

.desktop_site {
    display: none;
}

.lm-product-related-products {
    -moz-box-sizing: border-box;
    border-top: 5px solid #BE9872;
    height: 410px;
    position: relative;
    width: 100%;
}

.lm-product-related-products .title_rp {
    background: none repeat scroll 0 0 #EBEBE3;
    height: 21px;
    margin: -13px auto 0;
    position: relative;
    width: 338px;
}

.lm-product-related-products .title_rp h4 {
    font-family: 'LettrGothic';
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.lm-product-related-products .title_rp .left_arrow {
    cursor: pointer;
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 34px;
}

.lm-product-related-products .title_rp .left_arrow img {
    position: absolute;
    right: 0;
}

.lm-product-related-products .title_rp .right_arrow {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: -15px;
    top: 0;
    width: 34px;
}

.lm-product-related-products .title_rp .right_arrow img {
    left: 0;
    position: absolute;
}

.lm-product-related-products .rp_slider_cont {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.lm-product-related-products .rp_slider_cont .rp_sl_band {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.lm-product-related-products .rp_slider_cont .rp_sl_band a.rp_sl_item {
    color: black;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

.lm-product-related-products .rp_slider_cont .rp_sl_band a.rp_sl_item:hover {
    color: #BE9871;
}

.lm-product-related-products .rp_slider_cont .rp_sl_band a.rp_sl_item .rp_img {
    display: table;
    height: 290px;
    margin: 0 auto;
    width: 70%;
}

.lm-product-related-products .rp_slider_cont .rp_sl_band a.rp_sl_item .rp_img div {
    display: table-cell;
    vertical-align: middle;
}

.lm-product-related-products .rp_slider_cont .rp_sl_band a.rp_sl_item .rp_mf_name {
    font-family: 'LettrGothic-Bold';
    font-size: 14px;
    text-transform: uppercase;
}

.lm-product-related-products .rp_slider_cont .rp_sl_band a.rp_sl_item .rp_product_name {
    font-size: 14px;
    text-transform: uppercase;
}

.lm-product-related-products .rp_slider_cont .rp_sl_band a.rp_sl_item .rp_product_price {
    font-family: 'LettrGothic-Bold';
    font-size: 28px;
    text-transform: uppercase;
}

.lm-product-related-products .hover_pointer {
    bottom: 0;
    font-size: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 33.33%;
}

.jq-checkbox {
    background-image: url("../img/chk_unchecked.png");
    cursor: pointer;
    height: 9px;
    position: relative;
    vertical-align: middle;
    width: 9px;
}

.jq-checkbox.checked {
    background-image: url("../img/chk_checked.png");
}

#ajaxscrl92 .mNavLoading {
    display: none;
}

#system-message-container {
    display: none;
}

#auth-menu input.placeholder {
    color: #BE9872 !important;
}

input.placeholder {

}

/* ***************************** COMMON ********************************** */

#order_process {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#order_process a.brown_button {
    display: block;
    height: 18px;
    padding: 2px 5px 0 5px;

    background-color: #D2BAA1;
    color: #E9E9E1;

    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#order_process a.small_button {
    display: block;
    float: right;
    height: 14px;
    padding: 1px 5px 0 5px;
    margin-top: 4px;
    margin-right: -1px;

    color: #CBB194;
    border: 1px solid #CBB194;

    text-transform: uppercase;
    font-family: LettrGothic;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}

#order_process a.small_button:hover {
    color: #E9E7DE;
    background-color: #CBB194;
    border: 1px solid #CBB194;
}

#order_process input[type=text] {
    height: 22px;
    padding: 1px 0 0 6px;
    margin-bottom: 5px;

    background-color: #DFDFD8;
    color: #BE9872;
    border: 5px solid #BE9872;

    text-transform: uppercase;
    font-family: LettrGothic-Bold;
    font-size: 16px;
}

#order_process input::-moz-placeholder {
    color: #BE9872;
    font-family: LettrGothic-Bold;
    font-size: 1.1em;
}

#order_process input::-webkit-input-placeholder {
    color: #BE9872;
    font-family: LettrGothic-Bold;
    font-size: 1.1em;
}

#order_process .sum_title {
    float: right;
    margin: 4px 15px 0 0;
    color: #BE9872;

    text-align: right;
    font-size: 12px;
}

#order_process .sum_value {
    float: right;
    width: 145px;
    color: #BE9872;

    font-family: 'LettrGothic-Bold';
    font-size: 30px;
}

#order_process .op_main {
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cbb194;
}

#order_process .op_footer {
    float: right;
    width: 330px;
    margin-top: 15px;
}

/* ***************************** TITLE BLOCK ********************************** */

/* ------------------------- TITLE ---------------------------- */

#order_process .pc_title {
    font-family: 'LettrGothic-Bold';

    border-bottom: 1px solid #cbb194;
    text-align: center;
}

#order_process .pc_title span {
    position: relative;
    display: inline-block;
    padding: 3px 15px;
    top: 29px;

    background-color: #EBEBE3;
    color: #be9872;

    font-size: 1.2em;
}

/* -------------------------- CART ------------------------------ */

#order_process .pc_cart_block {
    text-align: center;
    margin: 50px 0 25px 0;
}

#order_process .pc_cart {
    display: inline-block;
    width: 150px;
    height: 107px;
    background: url('../img/triangle-empty.png') no-repeat;
    background-position: 0px 0px;
}

#order_process .pc_cart.active {
    background-position: 0px -107px;
}

#order_process .pc_cart:hover > span {
    color: #be9872;
}

#order_process .pc_cart .cart_title {
    display: block;
    margin-top: -6px;

    font-family: "LettrGothic-Bold";
    font-size: 1.1em;
    text-align: center;
}

#order_process .pc_cart .cart_number {
    display: block;
    margin-top: 8px;

    font-family: "LettrGothic-Bold";
    font-size: 2em;
    text-align: center;
}

/* ----------------------- TITLE BLOCK --------------------------- */

#order_process .op_title_block {
    font-size: 12px;
}

#order_process .op_title_block .op_title {
    float: left;
    border-bottom: 1px solid #cbb194;
    height: 7px;
    max-height: 7px;

    text-align: center;
}

#order_process .op_title_block .op_title span {
    position: relative;
    display: inline-block;
    background-color: #EBEBE3;

    letter-spacing: 1px;
}

#order_process .op_title_block .op_title span.s_title {
    padding: 0 15px;
    color: #BE9872;

    font-family: 'LettrGothic-Bold';
}

#order_process .op_title_block .op_title span.s_descr {
    display: none;

    font-family: 'LettrGothic';
    font-size: 10px;
}

#order_process .op_title_block .step_1 {
    width: 33%;
}

#order_process .op_title_block .step_2 {
    width: 33%;
}

#order_process .op_title_block .step_3 {
    width: 33%;
}

#order_process .op_title_block.step_1 .step_1 span.s_title {
    color: black;
}

#order_process .op_title_block.step_2 .step_2 span.s_title {
    color: black;
}

#order_process .op_title_block.step_3 .step_3 span.s_title {
    color: black;
}

#order_process .op_title_block.step_1 .step_1 span.s_descr {
    display: inline-block;
}

#order_process .op_title_block.step_2 .step_2 span.s_descr {
    display: inline-block;
}

#order_process .op_title_block.step_3 .step_3 span.s_descr {
    display: inline-block;
}

/* ***************************** PRODUCTS ********************************** */

#order_process .op_product {
    position: relative;
    height: 105px;
    padding: 15px;
    margin-top: 15px;
    color: #4F4F4F;
    background-color: #DFDFD8;
    font-size: 12px;
    font-family: 'LettrGothic';
}

#order_process .op_product .prod_image {
    float: left;
    width: 135px;
    height: 105px;
    background-color: #EBEBE3;
    margin-right: 15px;
}

#order_process .op_product .prod_header {
    float: left;
    margin-right: 15px;
}

#order_process .op_product .prod_header div {
    margin-bottom: 3px;
}

#order_process .op_product .prod_details {
    float: left;
    font-family: 'LettrGothic-Bold';
    color: #BE9872;
}

#order_process .op_product .prod_details div {
    margin-bottom: 3px;
}

#order_process .op_product .prod_kol {
    float: left;
    margin: 45px 0 0 68px;
}

#order_process .op_product .prod_kol_1 {
    float: left;
    width: 65px;
    padding-top: 14px;

    text-align: center;
}

#order_process .op_product .prod_kol_2 {
    float: left;
    width: 52px;
    height: 44px;
    padding-top: 8px;

    font-family: 'LettrGothic-Bold';
    background-color: #ebebe3;
    color: #be9872;

    text-align: center;
    font-size: 32px;
}

#order_process .op_product .prod_kol_3 {
    float: left;
    width: 16px;
    padding-top: 13px;
}

#order_process .op_product .prod_kol_3 a.small_button {
    margin-top: -1px;
    width: 13px;
    height: 13px;
    padding: 0;
    font-size: 14px;
    float: left;
}

#order_process .op_product .prod_price {
    position: relative;
    float: right;
    margin: 55px 0 0 0;
    width: 40%;
}

#order_process .op_product .sum_title {
    color: #4F4F4F;
}

#order_process .op_product .prod_del {
    position: absolute;
    top: 15px;
    right: 15px;
    float: right;
    width: 50px;
}

#order_process .op_product .prod_del a.small_button {
    margin-top: 0px;
}

/* ***************************** PRODUCTS FOOTER ********************************** */

#order_process .op_products_footer .prod_promo {
    float: left;
    width: 150px;
}

#order_process .op_products_footer .prod_promo div {
    font-family: 'LettrGothic';
    font-size: 12px;
    letter-spacing: 2px;

    margin-top: 10px;
    color: #BE9872;
}

#order_process .op_products_footer .prod_promo input[type=text] {
    width: 134px;
    margin: 22px 0 28px 0;
}

#order_process .op_products_footer .prod_sum {
    float: right;
    width: 330px;
}

#order_process .op_products_footer .prod_sum .prod_sum_block {
    float: right;
    padding: 6px 15px 2px 0;
    width: 315px;
}

#order_process .op_products_footer .prod_sum_1 {
    border-bottom: 1px solid #cbb194;
}

#order_process .op_products_footer .prod_sum_2 {
    border-bottom: 1px solid #cbb194;
}

#order_process .op_products_footer .sum_title {
    letter-spacing: 2px;
}

#order_process .op_products_footer .prod_sum_3 .sum_value {
    color: black;
}

#order_process .op_products_footer .prod_sum_4 {
    margin-top: 15px;
}

/* ******************************** PERSONAL DATA ************************************ */

/* ----------------- NAME -------------------*/

#order_process .op_block {
    min-height: 50px;
    border-top: 1px solid #cbb194;
    font-family: "LettrGothic";
    font-size: 13px;
}

#order_process .op_block:first-child {
    border-top: none;
}

#order_process .op_block .op_block_right {
    float: right;
    width: 330px;
    margin-top: 30px;
}

#order_process .op_block .op_title,
#order_process .op_block .op_value,
#order_process .op_block .op_nodata {
    padding: 4px 0;
}

#order_process .op_block .op_title {
    color: #be9872;
}

#order_process .op_block .op_nodata {
    background-color: #dadad3;
    font-family: "LettrGothic-Bold";
    display: none;
    padding: 2px 0 1px 5px;
}

#order_process .op_block.nodata {
    border-top: 1px solid #ff3728;
}

#order_process .op_block.nodata .op_nodata {
    display: block;
}

/* ---------------- ADDRESS --------------- */

#order_process .op_address_block {
    padding-top: 25px;
    min-height: 30px;
    border-top: 1px solid #cbb194;

    font-family: "LettrGothic";
    font-size: 13px;
}

#order_process .op_address_block:first-child {
    border-top: none;
    padding-top: 0px;
}

#order_process .op_address_block .op_address_right {
    float: right;
    max-width: 100px;
}

#order_process .op_address_block .op_title {
    padding: 4px 0;
    color: #be9872;
}

#order_process .op_address_block .op_value {
    padding: 4px 0;
    color: #7C7C7C;
}

#order_process .op_address_block.op_selected .op_value {
    color: black;
}

#order_process .op_address_block a.op_address_check {
    width: 6px;
    padding: 1px 4px 0;
    text-align: center;
}

#order_process .op_address_block a.op_address_check span {
    display: none;
    background-color: black;
    width: 6px;
    height: 7px;
    margin-top: 3px;
}

#order_process .op_address_block.op_selected a.op_address_check span {
    display: inline-block;
}

/* ---------------- CREDIT CARD --------------- */

#order_process .op_credit_card_block {
    clear: both;
    height: 34px;
    margin-bottom: 5px;
}

#order_process .op_credit_card_block .op_card_title {
    font-size: 12px;
    color: #be9872;
}

#order_process .op_credit_card_block .op_card_input {
    float: right;
    width: 330px;
}

#credit_card_num, #credit_card_name {
    width: 314px;
}

#credit_card_cv2 {
    width: 40px;
}

#credit_card_month {
    width: 30px;
    margin-right: 5px;
}

#credit_card_year {
    width: 40px;
}

#order_process .op_credit_card_block a.small_button {
    float: none;
    display: inline-block;
}

/* ********************************************** ORDER COMPLETE *************************************************/

#order_process .op_complete_block {
    font-family: "LettrGothic-Bold";
    text-align: center;
    line-height: 1.0;
}

#order_process .op_complete_block .block-1 {
    font-size: 28px;
    color: #BE9872;
}

#order_process .op_complete_block .block-2 {
    margin-top: 12px;
    font-family: LettrGothic;
    font-size: 12px;
    color: #BE9872;
}

#order_process .op_complete_block .block-3 {
    margin-top: 80px;
    font-size: 18px;
    line-height: 1.1;
    color: #5C5C56;
}

#order_process .op_complete_block .block-3 a {
    color: #BE9872;
    text-decoration: none;
}

#order_process .op_complete_block .block-3 a:hover {
    color: #5C5C56;
}

/* ********************************************** MEDIA *************************************************/

@media only screen and (max-width: 990px) {
    /* COMMON */
    #order_process .op_footer {
        width: 100%;
    }

    #order_process .op_block .op_block_right {
        width: 100%;
    }

    /* PRODUCTS */
    #order_process .op_product {
        height: 200px;
    }

    #order_process .op_product .prod_kol {
        float: left;
        margin: 0;
    }

    #order_process .op_product .prod_kol .prod_kol_1 {
        padding: 0 33px 0 0;
        text-align: left;
    }

    #order_process .op_product .prod_price {
        margin: 0px;
        width: 220px;
    }

    #order_process .op_product .prod_price .sum_title {
        margin: 4px 69px 0 0;
        text-align: left;
    }

    #order_process .op_product .prod_del {
        top: 200px;
    }

    #order_process .op_products_footer .prod_promo {
        width: 100%;
    }

    #order_process .op_products_footer .prod_promo div {
        margin-top: 10px;
        float: left;
        text-align: right;
        width: 243px;
    }

    #order_process .op_products_footer .prod_promo input[type="text"] {
        margin: 10px 0 15px;
        width: 123px;
        float: right;
    }

    #order_process .op_products_footer .prod_promo a.brown_button {
        margin: 0 0 15px 0;
        clear: both;
    }

    #order_process .op_products_footer .prod_sum {
        width: 100%;
    }

    #order_process .op_products_footer .prod_sum .prod_sum_block {
        width: 385px;
    }

    #order_process .sum_value {
        width: 123px;
    }

    /* CREDIT CARD */
    #order_process .op_credit_card_block .op_card_input {
        width: 200px;
    }

    #credit_card_num, #credit_card_name {
        width: 200px;
    }

    /* ORDER COMPLETE */
    #order_process .op_complete_block .block-1 {
        font-size: 18px;
    }
}

input.addtocart-button:disabled{
    color: gray;
}

.borderNew {
    border-color: #b5c1c9;
}

.cart_link {
    text-decoration: none;
}