@font-face {
    font-family: 'NewLetterGothicC';
    src: url('NewLetterGothicC.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewLetterGothicC';
    src: url('NewLetterGothicC.eot') format('eot'),
    url('NewLetterGothicC.woff') format('woff'),
    url('NewLetterGothicC.ttf') format('truetype'),
    url('NewLetterGothicC.svg#webfontfvFLBU0N') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewLetterGothicC-Bold';
    src: url('NewLetterGothicC-Bold.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewLetterGothicC-Bold';
    src: url('NewLetterGothicC-Bold.eot') format('eot'),
    url('NewLetterGothicC-Bold.woff') format('woff'),
    url('NewLetterGothicC-Bold.ttf') format('truetype'),
    url('NewLetterGothicC-Bold.svg#webfontfvFLBU0N') format('svg');
    font-weight: normal;
    font-style: normal;
}
